<?xml version="1.0"?>
<content>
/* Shopsailors' CSS File | Template : <RENDER_VALUE what="template>name"/> | Variation : <RENDER_VALUE what="variation>name"/> 
CSS for shop contents only*/
/* UTF-8 Check : à  ç  é  è  */

/*SHOP: PRODUCTS CATEGORIES NAVIGATOR*/

/*Navigateur de pages*/

.pageNavigator{
	text-align: center;
	clear: both;
}
.icon_display{
}

/*active category */

.bg_active_category{
	background: transparent url(/images/template/variation/box.png) no-repeat right top;
	height: 286px;
	width: 435px;
	margin-top: 15px;
	margin-left: 420px;
	position: absolute;
	color:  <RENDER_VALUE what="variation>boxText"/>;
}
.active_category_preview{
}
.active_category_preview img{
}
.active_category_descriptionContainer{
	margin-left: 15px;
	margin-top: 15px;
	width: 380px;
	height: 180px;
	overflow: auto;
}
.active_category_describe{
}

.active_category_titles{
	color: <RENDER_VALUE what="variation>boxText"/>;
	font-size: 110%;
	font-weight: bold;
}

.active_category_name{
text-align: center;
margin-top: 20px;
margin-bottom: inherit;
font-weight: bold;
font-size: 180%;
}

.active_category_price{
font-weight: bold;
font-size: 140%;
color: white;
padding-left: 25px;
padding-right: 25px;
margin-top: 10px;
position: absolute;
}

.pictos{
position: absolute;
text-align: right;
width: 400px;
margin-top: 25px;
}
.onePicto{
height: 36px;
width: 36px;
cursor: pointer;
}
/*Navigateur*/

#shop_navigator{
	width: 400px;
	padding-top: 2px;
	color: <RENDER_VALUE what="variation>globalText"/>;
}

/*breadcrumbs*/

#shop_navigator{
	width: 400px;
	padding-top: 2px;
	color: <RENDER_VALUE what="variation>globalText"/>;
}
.shop_arboLink{
	color: <RENDER_VALUE what="variation>navigatorLinkColor"/>;
}
.shop_arboText{
	color: <RENDER_VALUE what="variation>navigatorLinkColor"/>;
}
.breadcrumbSisters{
	display: block;
}
.bc_sisters, .bc_sameLevelText{
	display:block;
}
.bc_sisters a{
	color: <RENDER_VALUE what="variation>globalText"/>;
}
.bc_sister_container{
	display:none;
}
/*sub_category */

.selectAcategory{
	text-align: center;
	font-size: 110%;
	font-weight: bold;
	margin-top: 20px;
	color:  <RENDER_VALUE what="variation>navigatorTextColor"/>;
}

.bg_subcategory{
	color:  <RENDER_VALUE what="variation>descriptions"/>;
}

/*product*/

#shop_navigator{
	background: transparent url(/images/template/bg_arbo.png) no-repeat center top;
	width: 400px;
	color: <RENDER_VALUE what="variation>navigatorTextColor"/>;
}
.shop_arboLink{
	color: <RENDER_VALUE what="variation>navigatorLinkColor"/>;
}
#shop_emptyCategory{
	width: 292px;
	height: 215px;
	margin-top: 45px;
	margin-left: 30px;
}
.shop_emptyCategoryText{
	width: 240px;
	height: 215px;
	color: <RENDER_VALUE what="variation>boxText"/>;
	font-size: 120%;
	font-weight: bold;
	margin-left: 50px;
	padding-top: 60px;
}
#list{
	padding-top: 25px;
	margin-left: 20px;
	height: 286px;
	width: 286px;
}
.list_image{
	background: transparent url(/images/template/list.png) no-repeat center top;
	height: 70px;
	width: 70px;
}
.list_image img{
	background: transparent url(/images/template/list.png) no-repeat center top;
	margin: 5px;
	height: 60px;
	width: 60px;
}
#oneProduct{
	background: transparent url(/images/template/variation/box.png) no-repeat right top;
	height: 286px;
	width: 430px;
	margin-top: 15px;
	margin-left: 420px;
	position: absolute;
}
.textContent{
	margin-left: 15px;
	margin-top: 15px;
	width: 380px;
	height: 180px;
	overflow: auto;
}
.product_describe, .category_describe{
padding-top: 0px;
color: white;
}
.product_preview, .category_preview{
	width: 250px;
	height: 250px;
}

.product_reference{
	text-align: center;
	color: white;
	font-style: italic;
}
.product_name, .category_name{
text-align: center;
margin-top: 20px;
margin-bottom: inherit;
font-weight: bold;
font-size: 180%;
color: white;
}
.product_property_name, .category_property_name{
font-weight: bold;
padding-top: 8px;
color: white;
}
/* Other preview*/
#product_pictures img{
	width: 38px;
	border: 1px solid #333333;
}
/*navigator_sameCategory : aperçu des produit de la categorie dans la page de produit*/

.navigator_sameCategory{
	color: <RENDER_VALUE what="variation>title"/>;
}

.navigator_sameCategory table {
}
.navigator_sameCategory tr td {
}
.navigator_inSameCategory {
	font-size: 110%;
	font-weight: bold;
	padding-top: 5px;
}
.navigator_productCategory a{
	margin-right: 5px;
	margin-top: 5px;
	font-size: inherit;
	font-weight: inherit;
}
.navigator_productCategory img{
	width: 40px;
}

/*Searcher: category results*/

.catResult_container{
	margin-top: 10px;
}
.catResult_name {
	vertical-align: top;
}
.catResult_name a{
	font-weight: bold;
	color: <RENDER_VALUE what="variation>globalText"/>
}
.catResult_pictos{
	clear: both;
	margin-top: 4px;
}
.catResult_image{
	vertical-align: top;
}
.catResult_image img{
	height: 60px;
	margin-right: 5px;
	border: 1px solid #333333;
}

/*Searcher: product results*/

.prodResult_container{
	margin-top: 10px;
}
.prodResult_description{
	vertical-align: top;
}
.prodResult_name a{
	font-weight: bold;
	color: <RENDER_VALUE what="variation>globalText"/>;
}
.prodResult_reference a{
	text-decoration: none;
	font-style: italic;
	color: <RENDER_VALUE what="variation>globalText"/>;
}
.prodResult_pictos{
	vertical-align: top;
}
.productResult_price{
	font-weight: bold;
}
.prodResult_pictos img{
	margin-left: 5px;
}
.prodResult_image{
	vertical-align: top;
}
.prodResult_image img{
	height: 60px;
	margin-right: 5px;
	border: 1px solid #333333;
}



/*CART COMMAND SHIPPING DELIVERY*/

/*Shop Notifications*/
.command_confirm .notifL_content{
	padding-top: 10px;
}
.command_confirm .notifM_content{
	padding-top: 10px;
}
.payment_showModes .notifL_content{
	padding-top: 10px;
}

/*cart_empty*/

/*cart_show and cart of command_confirm*/

.alertCart{
	text-align: center;
	color: #660000;
	font-size: 100%;
	font-weight: bold;
}
.cart_save input{
	height: 40px;
	vertical-align: top;
}
.shop_cartQuantity input{
}
.shop_cartProduct_name{
	text-align: left;
	padding: 4px;
	font-weight: bold;
}
.shop_cartProduct_name a{
	text-align: left;
	font-weight: bold;
	color: <RENDER_VALUE what="variation>globalText"/>;
}
.shop_cartProduct_ref{
	text-align: left;
	padding: 4px;
	padding-left: 15px;
}
.shop_cartProduct_ref a{
	text-align: left;
	color: <RENDER_VALUE what="variation>globalText"/>;
}
.shop_cartProduct_shortDesc{
	text-align: left;
	vertical-align: top;
	padding: 4px;
}
.shop_productPrice{
	padding: 4px;
	text-align: right;
}
.bg_table{
}
.shop_tableCart th{
	vertical-align: top;
	padding-top: 6px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	color: <RENDER_VALUE what="variation>globalText"/>;
	height: 30px;
}
.shop_headerText{
	vertical-align: top;
	padding: 4px;
}
.shop_contentText{
	text-align: left;
}
.shop_table_preview img{
	height: 60px;
}
.shop_totalCart{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.shop_totalCart img{
	margin-top: 5px;
	cursor: pointer;
}
.shop_total_textClass{
	padding: 4px;
	font-size: 110%;
	text-align: right;
	font-weight: bold;
	color: #333333;
}
.shop_totalCartContainer{
	height: 80px;
	text-align: center;
	margin-top: 20px;
}
.shop_update{
	width: 80px;
	height: 60px;
	margin-left: 455px;
	text-align: center;
	color: <RENDER_VALUE what="variation>globalText"/>
}
.shop_update img{
	margin-top: 2px;
	width: 26px;
	cursor: pointer;
	text-align: center;
}
.shop_total_text{
	color: <RENDER_VALUE what="variation>globalText"/>;
	font-weight: bold;
	font-size: 130%;
}
.shop_pictoTable img, .shop_pictoTable input{
	width: 26px;
	cursor: pointer;
}
.shop_pictoCell{
	width: 30px;
}

.cart_goToCommand {
	color: <RENDER_VALUE what="variation>globalText"/>;
	font-size: 110%;
	font-weight: bold;
}

.cart_goToCommand input{
    height:35px;
    width:auto;
	border: none;
}

.cart_changeShipMode{
	text-align: left;
	vertical-align: top;
}
.cart_changeShipMode a{
	color: #333333;
	font-weight: bold;
}

/*command_confirm*/
.command_billingL_container{
	margin-top: 20px;
}
.command_billingM_container{
	margin-top: 20px;
}
.billing_table{
	text-align: left;
	margin-left: 10px;
	margin-top: 10px;
}
.billing_table td{
	vertical-align: top;
}
.billing_bgM_enterAdress{
	padding-top: 5px;
	text-align: center;
	font-weight: bold;
	color: <RENDER_VALUE what="variation>globalText"/>;
}
.billing_enterAdress{
	font-weight: bold;
	color: <RENDER_VALUE what="variation>globalText"/>;
}
.command_billing_name input{
	border: 1px solid #333333;
}
.command_billing_address{
}
.command_billing_address textarea{
	border: 1px solid #333333;
	height: 62px;
}
.command_billing_zipCode{
	margin-top: 10px;
}
.command_billing_zipCode input{
	border: 1px solid #333333;
}
.command_billing_city{
	margin-top: 10px;
}
.command_billing_city input{
	width: 180px;
	border: 1px solid #333333;
}
.command_billing_middleTD{
	width: 100px;
}
.command_paymentContainer{
	margin-top: 20px;
}
/*Payment: command and legacy*/
.payments_proposed{
	font-style: italic;
}
.payment_oneMode_title{
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
}
.payment_oneMode_logo img{
	width: 100px;
}
.payment_oneMode_content{
	text-align: center;
}
.payment_modeDescription{
	width: 300px;
	overflow: auto;
	vertical-align: top;
	padding: 4px;
	text-align: left;
}
.payment_modeName{
	font-weight: bold;
	vertical-align: top;
	padding: 4px;
	text-align: left;
}
.payment_logoMode img{
	width: 50px;
}

/*SHIP MODE: command and legacy*/

/*Choose shipper*/
.shipMode_container .notifL_content table{
	margin-left: auto; 
	margin-right: auto;
}
.shipMode_container .notifM_content table{
	margin-left: auto; 
	margin-right: auto;
}

.shipMode_chooseMode{
	font-style: italic;
}
.shipMode_input{
	vertical-align: middle;
	cursor: pointer;
}
.shipMode_image{
	vertical-align: top;
	cursor: pointer;
}
.shipMode_image img{
	vertical-align: top;
	height: 80px;
}
.shipMode_nameDesc_container{
	text-align: left;
	padding-left: 4px;
	vertical-align: top;
	height: 80px;
	overflow: auto;
}
.shipMode_nameDescCome_container{
	text-align: left;
	padding-left: 4px;
	vertical-align: top;
}
.shipMode_name{
	font-weight: bold;
}
.shipMode_description{
	margin-top: 4px;
}
.shipMode_price{
	vertical-align: middle;
	font-weight: bold;
	padding-left: 2px; 
	padding-right: 2px;
	text-align: right;
}
.shipMode_address{
	font-weight: bold;
	margin-top: 4px;
}
.shipMode_validate{
	margin-top: 10px;
	text-align: center;
}
.shipMode_severalAddress{
	text-align: left;
	margin-top: 10px;
	font-weight: bold;
	cursor: pointer;
}
.shipMode_severalAddress_price{
	margin-top: 10px;
	text-align: center;
}
.shipMode_listBox{
	margin-top: 5px;
}
.shipMode_list{
	margin-top: 5px;
	font-weight: bold;
}
.shipMode_cost{
	margin-top: 10px;
}
	/*one shipper*/
.shipMode_image_oneShipper{
	margin-top: 10px;
}
.shipMode_image_oneShipper img{
	height: 80px;
	width: 100px;
}
.shipMode_name_oneShipper{
	margin-top: 10px;
	font-weight: bold;
}

	/* discount mentions */
.ship_discountContainer div{
	text-align: center;
	margin-left: auto; 
	margin-right: auto;
}
.ship_discountIntro{
	font-weight: bold;
	margin-top: 10px;
}
.ship_discountApplied{
	margin-top: 10px;
}
.ship_discountApplied div{
	text-align: center;
	margin-right: 10px;
	margin-top: 2px;
	font-weight: bold;
}
.ship_discountMentions1{
	font-style: italic;
	margin-top: 15px;
	text-align: left;
	margin-left: auto; 
	margin-right: auto;
}

.ship_discountMentions2{
	font-style: italic;
	margin-top: 5px;
	text-align: left;
	margin-left: auto; 
	margin-right: auto;
}
</content>