<?xml version="1.0"?>
<content>
/* Shopsailors' CSS File | Template : <RENDER_VALUE what="template>name"/> | Variation : <RENDER_VALUE what="variation>name"/> 
CSS for shop contents only*/
/* UTF-8 Check : à  ç  é  è  */

/*Page de panier en tableau*/

#bg_cart_top{
	background: transparent url(/images/template/bg_cart_top.png) no-repeat center top;
	width: 840px;
	height: 36px; 
}
#bg_cart_middle{
	background: transparent url(/images/template/bg_cart_middle.png) repeat-y center top;
	width: 840px;
}
#bg_cart_bottom{
	background: transparent url(/images/template/bg_cart_bottom.png) no-repeat center top;
	width: 840px;
	height: 36px; 
}
.alertCart{
	color: #660000;
	font-size: 110%;
	font-weight: bold;
}
.shop_tableCartContainer{
	width: 100%;
	text-align: center;
}

.shop_tableCart table{
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	color: #333333;
}
.shop_tableCart input{
width: 40px;
}
.shop_cartProduct_name a{
	color: <RENDER_VALUE what="variation>globalText"/>;
}
.shop_tableCart td, .shop_tableCart th{
padding: 4px;
}
.shop_headerText{
}
.shop_contentText{
	text-align: left;
}
.shop_cartQuantity input{
	border: 1px solid #666666;
}
.shop_border-top{
border-top: 1px solid #666666;
}
.shop_border-right{
border-right: 1px solid #666666;
}
.shop_border-bottom{
border-bottom: 1px solid #666666;
}
.shop_border-left{
border-left: 1px solid #666666;
}
.shop_table_preview{
	width: 60px;
	height: 60px;
}
.shop_totalCart{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.shop_totalCart img{
	margin-top: 5px;
	cursor: pointer;
}
.shop_total_textClass{
	font-size: 110%;
	text-align: right;
	font-weight: bold;
	color: #333333;
}
.shop_update{
	width: 80px;
	height: 60px;
	margin-left: 455px;
	text-align: center;
	color: #666666
}
.shop_update img{
	margin-top: 2px;
	width: 26px;
	cursor: pointer;
	text-align: center;
}
.shop_total_text{
	color: #666666;
	font-weight: bold;
	font-size: 130%;
}
.shop_pictoTable img, .shop_pictoTable input{
	width: 26px;
	cursor: pointer;
}
.shop_pictoCell{
	width: 30px;
}

.cart_goToCommand {
	color: <RENDER_VALUE what="variation>globalText"/>;
	font-size: 110%;
	font-weight: bold;
}

.cart_goToCommand input{
    height:35px;
    width:auto;
}

.cart_changeShipMode{
	text-align: left;
	vertical-align: top;
}
.cart_changeShipMode a{
	color: #333333;
	font-weight: bold;
}

/*Command confirm bill and delivery addresses*/
.command_billingContainer{
	width: 200px;
	margin-top: 20px;
	float: left;
}
.command_billingContainer input texatrea{
}
.command_billingContainer h3{
	margin: 0px;
	text-align: center;
	color: <RENDER_VALUE what="variation>globalText"/>;
}
.billing_bg_top{
	background: transparent url(/images/template/billing_bg_top.png) no-repeat center top;
	height: 16px;
	width: 200px;
}

.billing_bg_middle{
	background: transparent url(/images/template/billing_bg_middle.png) repeat-y center top;
	width: 200px;
}

.billing_bg_bottom{
	background: transparent url(/images/template/billing_bg_bottom.png) no-repeat center top;
	height: 16px;
	width: 200px;
}

.command_billing_name{
	margin-top: 10px;
	margin-left: 6px;
}
.command_billing_name input{
	border: 1px solid #333333;
}
.command_billing_address{
	margin-top: 10px;
	margin-left: 6px;
}
.command_billing_address textarea{
	border: 1px solid #333333;
}
.command_billing_zipCode{
	margin-top: 10px;
	margin-left: 6px;
}
.command_billing_zipCode input{
	border: 1px solid #333333;
}
.command_billing_city{
	margin-top: 10px;
	margin-left: 6px;
}
.command_billing_city input{
	border: 1px solid #333333;
}
.delivery_title{
	padding-top: 15px;
}
.command_deliveryRadio{
	margin-top: 5px;
}
.command_delivery table{
	margin: 0px;
	text-align: left;
}
.command_delivery table td{
	margin: 0px;
	padding: 0px;
}
.command_paymentContainer{
	margin-top: 20px;
	padding-left: 20px;
	width: 600px;
	float: left;
}
.command_paymentContainer_legacy{
	margin-top: 20px;
	padding-left: 20px;
	width: 600px;
}
.command_payment_title{
	color: <RENDER_VALUE what="variation>globalText"/>;
	margin: 0;
	text-align: center;
}
.payment_oneMode_title{
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
}
.payment_oneMode_content{
	text-align: center;
}
.payment_modeContainer{
	width: 590px;
}
.payment_modeDescription{
	width: 300px;
	overflow: auto;
	vertical-align: top;
}
.command_paymentTable table{
	text-align: left;
	margin-left: auto; 
	margin-right: auto;
	margin-top: 20px;
	width: auto;
}
.command_paymentTable table{
	text-align: left;
	margin-left: auto; 
	margin-right: auto;
}
.payment_modeName{
	font-weight: bold;
	vertical-align: top;
}
.command_paymentTable img{
	width: 50px;
}
.payment_bg_top{
	background: transparent url(/images/template/payment_bg_top.png) no-repeat center top;
	height: 16px;
	width: 600px;
}
.payment_bg_bottom{
	background: transparent url(/images/template/payment_bg_bottom.png) no-repeat center top;
	height: 16px;
	width: 600px;
}
.payment_bg_middle{
	background: transparent url(/images/template/payment_bg_middle.png) repeat-y center top;
	width: 600px;
}

/*Navigateur de pages*/

.pageNavigator{
	text-align: center;
	clear: both;
}
.icon_display{
}

/*active category */

.bg_active_category{
	background: transparent url(/images/template/box.png) no-repeat right top;
	height: 286px;
	width: 435px;
	margin-top: 15px;
	margin-left: 420px;
	position: absolute;
}
.active_category_preview{
}
.active_category_preview img{
}
.active_category_descriptionContainer{
	margin-left: 15px;
	margin-top: 15px;
	width: 380px;
	height: 180px;
	overflow: auto;
}
.active_category_describe{
}

.active_category_titles{
	font-size: 110%;
	font-weight: bold;
}

.active_category_name{
text-align: center;
margin-top: 20px;
margin-bottom: inherit;
font-weight: bold;
font-size: 180%;
}

.active_category_price{
font-weight: bold;
font-size: 140%;
padding-left: 25px;
padding-right: 25px;
margin-top: 10px;
position: absolute;
}

.pictos{
position: absolute;
text-align: right;
width: 400px;
margin-top: 25px;
}
.onePicto{
height: 36px;
width: 36px;
cursor: pointer;
}
/*Navigateur*/

#shop_navigator{
	width: 400px;
	padding-top: 2px;
}

/*brea	dcrumbs*/
#shop_navigator_noDisplay{
	width: 400px;
	padding-top: 2px;
	color: <RENDER_VALUE what="variation>globalText"/>;
}
.shop_arboLink{
	color: <RENDER_VALUE what="variation>navigatorLinkColor"/>;
}
.shop_arboText{
	color: <RENDER_VALUE what="variation>navigatorLinkColor"/>;
}
.breadcrumbSisters{
	display: block;
}

/*sub_category */

.selectAcategory{
	text-align: left;
	font-size: 110%;
	font-weight: bold;
	margin-top: 20px;
	color:  <RENDER_VALUE what="variation>navigatorTextColor"/>;
}

.bg_subcategory{
	color:  <RENDER_VALUE what="variation>descriptions"/>;
}

/*product*/

#shop_navigator{
	background: transparent url(/images/template/bg_arbo.png) no-repeat center top;
	width: 400px;
	color: <RENDER_VALUE what="variation>navigatorTextColor"/>;
}
.shop_arboLink{
	color: <RENDER_VALUE what="variation>navigatorLinkColor"/>;
}
#shop_emptyCategory{
	width: 292px;
	height: 215px;
	margin-top: 45px;
	margin-left: 30px;
}
.shop_emptyCategoryText{
	width: 240px;
	height: 215px;
	font-size: 120%;
	font-weight: bold;
	margin-left: 50px;
	padding-top: 60px;
}
#list{
	vertical-align: top;
	padding-top: 5px;
}
.list_image{
	background: transparent url(/images/template/list.png) no-repeat center top;
	height: 70px;
	width: 70px;
}
.list_image img{
	background: transparent url(/images/template/list.png) no-repeat center top;
	margin: 5px;
	height: 60px;
	width: 60px;
}
#oneProduct{
	height: 286px;
	width: 430px;
	margin-top: 15px;
	margin-left: 420px;
	position: absolute;
}
.textContent{
	margin-left: 15px;
	margin-top: 15px;
	width: 380px;
	height: 180px;
	overflow: auto;
}
.product_describe, .category_describe{
padding-top: 0px;
}
.product_preview, .category_preview{
	width: 250px;
	height: 250px;
}

.product_reference{
	text-align: center;
	font-style: italic;
}
.product_name, .category_name{
text-align: center;
margin-top: 20px;
margin-bottom: inherit;
font-weight: bold;
font-size: 180%;
}
.product_property_name, .category_property_name{
font-weight: bold;
padding-top: 8px;
}
/*navigator_sameCategory : aperçu des produit de la categorie dans la page de produit*/

.navigator_sameCategory{
	color: <RENDER_VALUE what="variation>title"/>;
}

.navigator_sameCategory table {
}
.navigator_sameCategory tr td {
}
.navigator_inSameCategory {
	font-size: 110%;
	font-weight: bold;
	padding-top: 5px;
}
.navigator_productCategory a{
	margin-right: 5px;
	margin-top: 5px;
	font-size: inherit;
	font-weight: inherit;
}
.navigator_productCategory img{
	width: 40px;
}

 /* Message panier vide */
 
 #empty_cart_top{
	background: transparent url(/images/template/empty_cart_top.png) no-repeat center top;
	width: 352px;
	height: 14px;
 }
 #empty_cart_middle{
	background: transparent url(/images/template/empty_cart_middle.png) repeat-y center top;
	width: 352px;
 }
 #empty_cart_bottom{
	background: transparent url(/images/template/empty_cart_bottom.png) no-repeat center top;
	width: 352px;
	height: 14px;
 }
#emptyCart_container{
	margin-top: 40px;
	text-align: center;
	width: 100%;
	color: #333333;
	font-size: 120%;
	font-weight: bold;
}
#emptyCart_container div{
	margin-left: auto;
	margin-right: auto;
}

#emptyCart_content{
	width: 320px;
}

/*Searcher: category results*/

.catResult_container{
	margin-top: 10px;
}
.catResult_name {
	vertical-align: top;
}
.catResult_name a{
	font-weight: bold;
	color: <RENDER_VALUE what="variation>globalText"/>
}
.catResult_pictos{
	clear: both;
	margin-top: 4px;
}
.catResult_image{
	vertical-align: top;
}
.catResult_image img{
	height: 60px;
	margin-right: 5px;
	border: 1px solid #333333;
}

/*Searcher: product results*/

.prodResult_container{
	margin-top: 10px;
}
.prodResult_description{
	vertical-align: top;
}
.prodResult_name a{
	font-weight: bold;
	color: <RENDER_VALUE what="variation>globalText"/>;
}
.prodResult_reference a{
	text-decoration: none;
	font-style: italic;
	color: <RENDER_VALUE what="variation>globalText"/>;
}
.prodResult_pictos{
	vertical-align: top;
}
.productResult_price{
	font-weight: bold;
}
.prodResult_pictos img{
	margin-left: 5px;
}
.prodResult_image{
	vertical-align: top;
}
.prodResult_image img{
	height: 60px;
	margin-right: 5px;
	border: 1px solid #333333;
}


/*SELECT SHIP MODE*/

.shipMode_container{
	text-align: center;
}
.shipMode_chooseMode{
	font-style: italic;
}
.shipMode_container table{
	margin-top: 5px;
	margin-left: auto; 
	margin-right: auto;
	text-align: center;
}
.shipMode_input{
	vertical-align: middle;
}
.shipMode_image{
	vertical-align: top;
}
.shipMode_image img{
	vertical-align: top;
	height: 80px;
	width: 100px;
}
.shipMode_nameDesc_container{
	text-align: left;
	padding-left: 4px;
	vertical-align: top;
	height: 80px;
	overflow: auto;
}
.shipMode_nameDescCome_container{
	text-align: left;
	padding-left: 4px;
	vertical-align: top;
}
.shipMode_name{
	font-weight: bold;
}
.shipMode_description{
	margin-top: 4px;
}
.shipMode_price{
	vertical-align: middle;
	font-weight: bold;
	padding-left: 2px; 
	padding-right: 2px;
	text-align: right;
}
.shipMode_address{
	font-weight: bold;
	margin-top: 4px;
}
.shipMode_validate{
	margin-top: 10px;
	text-align: center;
}
.shipMode_noTable{
	margin-top: 40px;
}
.shipMode_severalAddress{
	text-align: left;
	margin-top: 10px;
	font-weight: bold;
	cursor: pointer;
}
.shipMode_severalAddress_price{
	margin-top: 10px;
	text-align: center;
}
.shipMode_listBox{
	margin-top: 5px;
}
.shipMode_cost{
	margin-top: 10px;
}
	/*one shipper*/
.shipMode_image_oneShipper{
	margin-top: 10px;
}
.shipMode_image_oneShipper img{
	height: 80px;
	width: 100px;
}
.shipMode_name_oneShipper{
	margin-top: 10px;
	font-weight: bold;
}
	/* discount mentions */
.ship_discountContainer div{
	text-align: center;
	margin-left: auto; 
	margin-right: auto;
}
.ship_discountIntro{
	font-weight: bold;
	margin-top: 10px;
}
.ship_discountApplied{
	margin-top: 10px;
}
.ship_discountApplied div{
	text-align: center;
	margin-right: 10px;
	margin-top: 2px;
	font-weight: bold;
}
.ship_discountMentions1{
	font-style: italic;
	margin-top: 15px;
	text-align: left;
	margin-left: auto; 
	margin-right: auto;
}

.ship_discountMentions2{
	font-style: italic;
	margin-top: 5px;
	text-align: left;
	margin-left: auto; 
	margin-right: auto;
}

/* border class */
.border-top{
border-top: 1px solid #333333;
}
.border-right{
border-right: 1px solid #333333;
}
.border-bottom{
border-bottom: 1px solid #333333;
}
.border-left{
border-left: 1px solid #333333;
}
</content>