/* Shopsailors' CSS File | Template : name@template | Variation : name@variation | Value : name@value */
/* UTF-8 Check : à  ç  é  è  */
*{outline:0 none}
body{
    background: #ffffff url(/images/template/variation/bg_bg.png?suffix@images) repeat-x top center;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial,sans-serif;
    font-size: 12px;
    color: #333333;
    margin-top:0;
    padding-top: 0;
    margin-bottom: 0;
}
.header{
    width: 900px;
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    height: 167px;
    overflow: hidden;
}
.header table{width: 900px;}
.header table td{vertical-align: top}
.topTitle h1{padding-bottom: 0px;}
.topTitle{
    height: 25px;
    text-align: left;
    font-size:110%;
    color:  hex@text_color;
    width:100%;
    margin-bottom: 4px;
    padding-bottom: 0px;
    border-bottom:1px solid #ededed
}

.headerCart{text-align: right}
.headerCart a{color: hex@text_color}

.logo{text-align: left;}
.logo img{max-height: 135px;max-width: 450px}


/* Champ de connexion */

#connectionContainer{
    height: 20px;
    text-align: right;
    font-weight: bold;
}
#connectionContainer a{
    font-weight: bold;
    color: #333333;
}
.grey_link_connect{
    color: #333333;
}
.grey_link{
    color: #333333;
    margin-top:2px;
    margin-bottom:2px;
}
.grey_link_line{
    color: #333333;
    margin-top:5px;
}

#mainContainer{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}


.blackBottom{
    background-color: #000000;
    width: 100%;
    height: 140px;
}

/* Menu and sub menus */

/*Main level*/
.menu_container{
    width: 900px;
    position: relative;
    text-align: right;
    z-index: 100;
}
.menu_container div{
    position: relative;
    text-align: right;
    margin-left: auto;

}
/* New menu */
.one_menu{
    margin:0;
    padding:0;
    list-style-type:none;
    display:inline;
}
.one_menu li{
    float:left;    
}
.one_menu .menu_entry_img{
    overflow:hidden;
}
.one_menu li img.hover{
    display:none;
}

.one_menu li:hover img.hover{
    display:inline-block;
}
.one_menu li:hover img.notHover{
    display:none;
}
.with_submenus .submenus{
    position:absolute;
    margin:-2px 0 0 -1px;
    padding:0;
    list-style-type:none;
    visibility:hidden;
    width:200px;
    border-left: 1px solid #b5b5b5;
    border-right: 1px solid #b5b5b5;
}

.with_submenus .submenus li{
    width: 100%;
    padding: 2px 10px 2px 2px;
    margin: 0 5px 0 0;
    background-color: #f2f2f2;
    border-bottom: 1px solid #b5b5b5;
    text-align:left;
}
.with_submenus .submenus li a{
    color: #333333;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}
.with_submenus .submenus li a:hover{
    color: hex@text_color;
    text-decoration:underline;
}
/* End of new menu*/

/* flags */
.pictoFlagsContainer{
    height: 20px;
    margin-bottom: 10px
}
.pictoFlags{
    width: 20px;
    margin-right: 4px;
    cursor: pointer;
}

/*SEARCHER*/

#searcher{
    height: 20px;
}
#searcher input{
    vertical-align:middle;
    color: #fff;
}
#searcher img{
    vertical-align:middle;
}
.searcher_bgRight{
    display: none;
}
.searcher_bgLeft{
    display: none;
}
.searcher_input{
    background: transparent url(/images/template/searcher_bg.png?suffix@images) repeat right top;
    border: 1px solid #cccccc;
    height: 17px;
    width: 155px;
    font-size: 90%;
    padding-top: 2px;
}
.searcher_image{
    border: none;
    margin-left: 5px;
}

/*Search results: articles*/

.search_results_type_name{
    margin-top: 20px;
    font-weight: bold;
    font-size: 110%;
}
.searcher_oneArticle_descContainer{
    vertical-align: top;
}
.searcher_oneArticle_image{
    vertical-align: top;
    margin-right: 5px;
    border: 1px solid hex@text_color;
}
.articleResult_title a{
    font-weight: bold;
}
.searcher_oneArticle_image img{
    height: 60px;
}
.articleResult_contents{
    margin-top: 10px;
}

/*contenus de droite de la page*/

.page_content{
    margin-left: auto;
    margin-right: auto;
    width: 880px;
}
.page_content a{
    color: #333333;
}
.page_content a:hover{
    color: hex@text_color;
}
.content_middle{
    background: transparent url(/images/template/bg_content_white.png?suffix@images) repeat top center;
    margin-top: 10px;
    padding: 5px 2px 5px 2px;
    width: 900px;
}
.content_middle h1.bodyTitle{
    text-align: left;
    margin-left: 10px;
}

/*Forum*/
.content_middle #forum_show{width: 900px;margin-left: -10px; }


/*NEWSLETTER*/

/*Newsletter new suscribe*/
.news_subscribe{
    font-weight: bold;
    font-size: 110%;
}
.nl_chooseList{
    margin-top: 15px;
    font-weight: bold;
}
.nl_autoChoosenList{
    margin-top: 15px;
    font-weight: bold;
}
.nl_autoChoosenList_name{
    margin-top: 5px;
    font-weight: bold;
}
.nl_autoChoosenList_desc{
    margin-left: 5px;
    font-style: italic;
    width: 300px;
}
.news_unsubscribe{
    font-style: italic;
    margin-top: 5px;
}
.newsList_intro{
}
.newsList_title{
    font-size: 110%;
    margin-top: 10px;
}
.newsList_list{
    margin-top: 10px;
}
.newsList_list a{
    font-weight: bold;
    margin-top: 3px;
}
.nl_oneMonth_name{
    font-style: italic;
    color: hex@text_color;
}
.nl_list_oneLine{
    margin-top: 5px;
}
.nl_diffusionList{
    font-weight: bold;
    margin-bottom: 10px;
}
.nl_Sub_mailAddress{
    font-weight: bold;
}
.nl_Sub_mailAddress input{
    width: 180px;
}
.nl_chooseYourList{
    margin-top: 10px;
    font-weight: bold;
    color: #660033;
}
.nl_subscribeConfirmed{
    font-size: 120%;
    font-style: italic;
    font-weight: bold;
}
.nl_errorMessage{
    font-weight: bold;
    font-style: italic;
    color: #660000;
    font-size: 110%;
    margin-bottom: 10px;
}
/*Newsletter: show*/
.nl_backToList {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
.nl_backToList a{
    font-weight: bold;
}
/*Newsletter: unsubscribe*/
.nl_unsub_intro{
    margin-top: 10px;
}
.nl_unsub_mailAddress{
    margin-top: 10px;
    font-weight: bold;
    color: hex@text_color;
}
.nl_unsub_mailAddress input{
    width: 200px;
}
.nl_unsub_submit{
    margin-top: 5px;
}

/* Page de mentions légales */
.legacyContainer{
}



/* Page de contact */

#contact{
    width: 880px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
#contact table input{width: 170px;}
#contact table td{
    vertical-align: top;
}
#contactData_container{
    margin-top: 10px;
}
#contactData_container h3{
    color:  hex@text_color;
    font-size: 115%;
}
.contact_intro{
    text-align: left;
    width: 300px;
}
.contact_address{
    width: 200px;
    text-align: left;
}
.contact_phone{
    width: 200px;
    text-align: left;
}
.contact_mail{
    width: 200px;
    text-align: left;
}
#sendMailForm_container{
    width: 400px;
    margin-left: 180px;
}
.sendMail_IEmargin{
    height: 25px;
}

#sendMailForm_container h3{
    color:  hex@text_color;
    margin-top: 0px;
    text-align: center;
    font-size: 115%;
}
#sendMailForm_container table{
    width: 340px;
    text-align: center;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
}
#sendMailForm_container div{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.sendmailContent{
    padding-left: 0px;
}
.mailContent{
    width: 340px;
    height: 140px;
}
.contact_submitCaptcha{
    text-align: center;
    margin-top: 30px;
}
.sendmailInput input {
    width: 150px;
}

/*ADMIN: edtion d'un nouvel article*/

.content_edit_shorter{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}


.content_edit_shorter textarea{
    width: 400px;
}

.blackBottomContent{
    width: 900px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;

}
/*Legacy menu*/
#copyrights{
    margin-top: 10px;
    color : #ffffff;
    font-size:90%;
    clear: both;
    font-weight: bold;
}


#copyrights a{
    color : #ffffff;
    font-weight: bold;
}

/*CAPTCHA*/
.captchaText{
}
.captcha_container{
    position:relative;
    width:240px;
    height:40px;
    margin-top:5px;
}
.captcha_code{
    position:absolute;
    left:0;
    top:0;
    width:130px;
}
.captcha_reload{
    position:absolute;
    left:210px;
    top:0;
    width:30px;
    cursor:pointer;
}
.captcha_input{
    position:absolute;
    left:140px;
    top:0;
    width:60px;
}
.captcha_input input{
    border: 1px solid #333333;
}
.captcha_code img{
    border: 1px solid #333333;
    width:130px;
    height:30px;
}

/*général: all templates*/

h1{ /* Grand titre des pages */
    color:   hex@text_color;
    font-weight: bold;
    font-size: 160%;
    line-height: 24px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}

h2{ /* Petit titre des pages */
    color: hex@text_color;
    font-weight: bold;
    font-size: 120%;
    line-height: 16px;
    text-align: left;
    text-indent: 15px;
}
h3{
    margin-top: 0px;
    margin-bottom: 0;
}

.border-top{
    border-top: 1px solid hex@text_color;
}
.border-right{
    border-right: 1px solid hex@text_color;
}
.border-bottom{
    border-bottom: 1px solid hex@text_color;
}
.border-left{
    border-left: 1px solid hex@text_color;
}
.alert-top{
    border-top: 1px solid #660000;
}
.alert-left{
    border-left: 1px solid #660000;
}
.alert-right{
    border-right: 1px solid #660000;
}
.alert-bottom{
    border-bottom: 1px solid #660000;
}

p{ /* Paragraphes */
   font-weight: normal;
   line-height: 16px;
   text-align: left;
   text-indent: 2px;
}

.fourFifth{
    font-size:80%;
    font-style: italic;
}
.table_description{
    font-style: italic;
    color: white;
    font-size: 80%;
}
.halfSize{
    width:50%;
}
input, textarea{
    border: 1px solid #ccc;
}

.templateColor{
}

.aLink{
    cursor: pointer;
}

.falseLink{
    cursor: pointer;
    text-decoration: underline;
}
img { 
    border: 0;
}