<?xml version="1.0"?>
<content>
/* Shopsailors' CSS File | Template : <RENDER_VALUE what="template>name"/> | Variation : <RENDER_VALUE what="variation>name"/> */
/* UTF-8 Check : à  ç  é  è  */
body{
	background: transparent url(/images/template/variation/bg_bg.png) repeat 0 0;
    font-family: Arial,sans-serif;
    font-size: 12px;
    color: <RENDER_VALUE what="variation>textColor"/>;
}
#mainContainer{
	background: transparent url(/images/template/variation/bg_middle.png) repeat-y center top;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}
#bg_top{
	background: transparent url(/images/template/variation/bg_top.png) no-repeat center top;
	height: 200px;
	width: 900px;
}
#bg_menu1{
	background: transparent url(/images/template/variation/bg_menu1.png) repeat-y center top;
	height: 25px;
}
#bg_middle{
	background: transparent url(/images/template/variation/bg_middle.png) repeat-y center top;
	width: 900px;
}
#content_middle{
	margin-left: 5px;
	width: 640px;
}
.menu1{
	margin-left: 10px;
	padding-top: 4px;
	width: 800px;
}

/*Search results: articles*/

.search_results_type_name{
	margin-top: 20px;
    font-weight: bold;
    font-size: 110%;
}
.searcher_oneArticle_descContainer{
    vertical-align: top;
}
.searcher_oneArticle_image{
	vertical-align: top;
	margin-right: 5px;
	border: 1px solid <RENDER_VALUE what="variation>globalText"/>;
}
.articleResult_title a{
	color: <RENDER_VALUE what="variation>globalText"/>;
	font-weight: bold;
}
.searcher_oneArticle_image img{
    height: 60px;
}
.articleResult_contents{
	margin-top: 10px;
	}

/* Champ de connexion */

#connectionContainer{
	width: 200px;
	height: 20px;
	text-align: left;
	margin-top: 0px;
	position: absolute;
}
#connectionContainer table{
	padding-left: 10px;
	text-align: left;
	margin-top: 0px;
}
.grey_link_connect{
	color: <RENDER_VALUE what="variation>connectLinkColor"/>;
}
.grey_link{
	color: #333333;
	margin-top:5px;
	display: block;
}
.grey_link_line{
	color: #333333;
	margin-top:5px;
}



/* flags */
.pictoFlagsContainer{
text-align: right;
width: 150px;
height: 20px;
margin-left: 750px;
margin-top: 7px;
position: absolute;
}
.pictoFlags{
width: 20px;
margin-right: 4px;
cursor: pointer;
}


/*Boîtes de menus gauche: conteneurs*/

#left_boxes{ 
	width: 230px;
	text-align: left;
	margin-left: inherit;
	padding-left: inherit;
	color: #333333;
}
.box_top{
	background: transparent url(/images/template/variation/boxes_top.png) no-repeat center top;
	height: 14px;
	width: 235px;
	margin-top: 10px;
}
.box_middle{
	background: transparent url(/images/template/variation/boxes_middle.png) repeat-y center top;
	width: 235px;
}
.box_separate{
}
.box_bottom{
	background: transparent url(/images/template/variation/boxes_bottom.png) repeat-y center top;
	height: 14px;
	width: 235px;
}
/* Boite de menu gauche: PLUGIN */
.pluginClassTitle{
	font-weight: bold;
	font-size: 120%;
	text-align: center;
	color: <RENDER_VALUE what="variation>title"/>;
}
.pluginClassSubTitle{
	font-weight: bold;
	font-size: 110%;
	text-align: left;
	padding-top: 5px;
	color: <RENDER_VALUE what="variation>title"/>;
}
.pluginClassContent{
	margin-left: 10px;
	padding-top: 5px;
}
.pluginClassLinks{
	margin-left: 15px;
	padding-top: 5px;
}
.inputBoxLeft{
	margin-top: 5px;
	font-style: italic;
	width: 200px;
	border: 1px solid <RENDER_VALUE what="variation>borderColor"/>;
}
.checkboxBoxLeft{
	margin-top: 5px;
}
.pluginClassListbox{
	margin-top: 5px;
}
.pluginClassRadio{
	margin-top: 5px;
}
.FormBoxSubmitContainer {
	padding-top: 10px;
	text-align: center;

}

/*Table et contenus de droite de la page*/

#page_content{
margin-top: 20px;
padding-top: 0px;
width: 600px;
}
 .contentTable{
width: 250px;
margin: inherit;
}
.contentTable tr{
vertical-align: top;
margin: inherit;
}


/*Page details*/
.product_details1{
	margin-top: 10px;
	width: 640px;
}
.details_previewContainer{
	width: 222px;
	position: absolute;
}
.main_preview{
	background: transparent url(/images/template/variation/details_preview1.png) no-repeat center top;
	width: 222px;
	height: 222px;
}
.main_preview img{
	margin-top: 1px;
	margin-left: 1px;
}
.other_preview{
	background: transparent url(/images/template/variation/details_preview2.png) no-repeat center top;
	width: 110px;
	height: 110px;
	margin-top: 1px;
	margin-left: 1px;
	float: left;
	cursor: pointer;
}
.other_preview img{
	margin-top: 1px;
	margin-left: 1px;
}
.details_descriptionContainer{
	margin-left: 230px;
}
.details_productName{
	font-size: 140%;
	font-weight: bold;
}
.details_product_descriptionTitle{
	font-size: 110%;
	font-weight: bold;
	
}
.details_pictoContainer{
	margin-top: 10px;
	
}
.details_pictoContainer img{
	width: 30px;
	
}
 /* Page de contact */
 
#contact{
	width: 350px;
}
.contact_intro{
	text-align: left;
	margin-right: inherit;
	margin-left: inherit;
}
#contact h3{
	color: <RENDER_VALUE what="variation>contactColor"/>;
	margin-bottom: 2px;
	padding-top: 10px;
	font-size: 120%;
}
#contactData_container{
	margin-top: 15px;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
}
#sendMailForm_container{
	text-align: left;
	margin-top: 10px;
}
.contactMail_link{
	color: <RENDER_VALUE what="variation>contactColor"/>;
}
.sendmailContent {
	margin-left: 1px;
 }
.sendmailInput input {
	width: 150px;
 }
 .sendMail_txtArea{
	 margin-top: 5px;
 }
 #bg_sendmailMiddle{
	 width: 356px;
 }
 #bg_sendmailTop{
	 width: 356px;
	 height: 5px;
 }
.mailContent{
	height: 140px;
	width: 340px;
}
.contact_submitCaptcha{
	margin-top: 15px;
	padding-bottom: 10px;
}


/*ADMIN: edtion d'un nouvel article*/

.content_edit_shorter{
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}


.content_edit_shorter textarea{
	width: 400px;
}


/*général: all templates*/

.topTitle{
    /*background: transparent url(/images/template/logo.png) no-repeat center 0;*/
    text-align:center;
    font-size:120%;
    color:<RENDER_VALUE what="variation>topTitle"/>;
    width:100%;
	padding-top: 5px;
	margin-bottom: 5px;
}

h1{ /* Grand titre des pages */
    color: <RENDER_VALUE what="variation>globalText"/>;
    font-weight: bold;
    font-size: 110%;
    line-height: 24px;
    text-align: left;
	margin-top: 0px;
}

h2{ /* Petit titre des pages */
    color: <RENDER_VALUE what="variation>titlesColor"/>;
    font-weight: bold;
    font-size: 120%;
    line-height: 16px;
    text-align: left;
    text-indent: 15px;
}
h3{
	margin-top: 0px;
	margin-bottom: 0;
}

p{ /* Paragraphes */
    font-weight: normal;
    line-height: 16px;
    text-align: left;
    text-indent: 2px;
}

#copyrights{
    text-align:center;
    font-size:60%;
}


.important{
    color : <RENDER_VALUE what="variation>importantColor"/>;
}

.bold{ /* Elements affichés en gras (mots clés) */
    font-weight: bold;
}

.italic{ /* Elements affichés en italic */
    font-style: italic;
}

.center{ /* Elements centrés */
    text-align:center;
}

.halfSize{
    width:50%;
}

.hideLink{
  text-decoration:inherit;
  color:inherit;
}

captcha_image{
		width:160px;
		height:35px;
	    }
	    .fourFifth{
	    font-size:80%;
	    font-style: italic;
	    }
	    .whiteText{
		color: black;
	    }
	    .captcha{
		text-align:left;
		border: none;
	    }
	    .captcha_input{
	    margin-top: 10px;
	    }
	    .marginTop_5px{
	    margin-top: 5px;
	    }
		.captcha_image{
		width:160px;
		height:35px;
	    }
         .marginTop_15px{
	    margin-top: 15px;
	    }
        .table_description{
        font-style: italic;
        color: white;
        font-size: 80%;
        }
        .marginBottom_15px{
        margin-bottom: 15px;
        }
		
	


a:link, a:visited, a:hover, a:active {
    color: <RENDER_VALUE what="variation>linksColor"/>;
}

.templateColor{
    color: <RENDER_VALUE what="variation>color"/>;
}

.aLink{
    cursor: pointer;
}

.falseLink{
    color: <RENDER_VALUE what="variation>linksColor"/>;
    cursor: pointer;
    text-decoration: underline;
}
img { 
    border: 0;
}
.position_absolute{
	position: absolute;
}
</content>