/*
/*/

!/classes/
!/classes/*
!/images/
!/images/*
!/installer/
!/installer/*
!/sites/
!/sites/*
!/templates/
!/templates/*
!/constants.php
!/COPYRIGHT.txt
!/debug.php
!/index.php
!/README
!/robots.txt
!/robots_dev.txt
!/.gitignore
!/.htaccess

/templates/*/builder/*/*/*/variations/*/splitted_?_?.png
/templates/*/builder/*/*/*/variations/*/splitted_?_?_?.png
/templates/*/builder/*/*/*/variations/*/splitted_?_?_?_?.png

/templates/custom/