/* Shopsailors' CSS File | Template : name@template | Variation : name@variation | Value : name@value */
/* UTF-8 Check : à  ç  é  è  */

/*SHOP: PRODUCTS CATEGORIES NAVIGATOR*/

table.displayIcons_breadcrumbs{
    width: 100%;
}
table.displayIcons_breadcrumbs td{
}

/*breadcrumbs*/

#shop_navigator .breadcrumbs{
    padding: 5px 6px;
    font-style:italic;
    color:#666;
    font-size:10px;
}
.displayIcons_breadcrumbs #shop_navigator .breadcrumbs{border-top:none;}

#shop_navigator a{color:#666;}
#shop_navigator a:hover{text-decoration: underline; color: hex@title}

/* -- breadcrumbs predefines --*/
.breadcrumbSisters{display: block;}
.bc_sisters, .bc_sameLevelText{
    display:block;
    color: #666;
    text-decoration: none;
}
.bc_sisters a:hover, .bc_sameLevelText a:hover{
    text-decoration: underline;
}
.bc_sisters a.bc_sameLevelText a{
    color: #333333;
    text-decoration: none;
}
.bc_sister_container{
    display:none;
}

/*Empty Category*/
#shop_emptyCategory{
}

.icon_display{padding-top: 5px}
/*Navigateur de pages*/

.pageNavigator{
    text-align: center;
    clear: both;
    color: hex@title;
}
.pagesNumbers a{
    color: hex@title;
}
.pageNavigator img{
    height: 25px;
}
.pageNavigator table{
    text-align: center;
    clear: both;
    margin-left: auto;
    margin-right: auto;
}

/*active category */

table.activeCategory{
    width: 100%;
    text-align: left;
    color: #666;
    font-style: italic;
    border-top:1px solid #b5b5b5;
    border-bottom: 1px solid #b5b5b5;
}
table.activeCategory td{vertical-align: top;padding:5px 0;border: none;}

.active_category_preview{width: 50px;height: 50px;}
.active_category_preview img{width: 50px;height: 50px;}

.active_category_description{
    width: 650px;
    height: 100%;
    text-align: justify;
    padding: 5px 5px 0 5px;
    -moz-border-radius: 4px;
}
.active_category_description p{line-height: 14px}

/*sub_category */
.selectAcategory{
    font-size: 110%;
    font-weight: bold;
    margin-top: 10px;
    color:  hex@title;
    margin-bottom:10px
}
.subCatContainer{width: 900px;margin: 0 auto}
.bg_subcategory td{vertical-align: top}
.bg_subcategory{
    width: 270px;
    margin-top: 10px;
    margin-right: 20px;
    float: left;
    border: 1px solid #999;
    -webkit-border-radius-topRight: 6px;
    -moz-border-radius-topRight: 6px;
    border-radius-topRight: 6px;
}

.subcategory_image{
    width: 100px;
    margin-left: 2px;
    float: left;
}
.subcategory_name{
    text-align: left;
}
.subcategory_name a{
    font-size: 14px
}
.subcategory_image img{
    height: 100px;
    width: 100px;
    margin-left: 1px;
    margin-top: 1px;
}
.subcategory_descriptionContainer{
    background-color: #f2f2f2;
    padding: 5px;
    height:100px;
    overflow: auto;
    vertical-align: top;
    text-align: left;
}
.subcategory_describe{
}


/*Products categories common (table list miniature)*/

.like_productCategories{margin-top: 10px}

div.discounts_title{
    text-align: left;
    font-weight:bold;
    font-size:110%;
    color: hex@title;
}
.discounts_title h2{margin: 10px 0}

.oneDiscount{
    float: left;
    border: 1px solid #b5b5b5;
    max-width: 300px;
    height: 80px;
    overflow: auto;
    padding: 5px;
    margin: 5px 5px 0 0;
}
.oneDiscount_title{color: hex@title;font-size:14px}

/*Liste de produits en ligne1*/


#productList .oneProduct{
    float: left;
    border: 1px solid #999;
    margin: 5px 15px 15px 0;
    -moz-border-radius-topright:6px;
    -webkit-border-radius-topright:6px;
    border-radius-topright:6px;
}
#productList .navigator_preview{
    float: left
}
#productList .addToCart{position: absolute;margin-top: -10px;margin-left: -10px}
#productList .addToCart:hover img{margin-top: 1px}


#productList .descriptionContainer{padding: 5px;float: left;height: 100px;width: 170px;overflow: auto;text-align: left}
#productList .descriptionContainer .name a,
#productList .descriptionContainer .price
{font-size: 14px}
#productList .descriptionContainer .price{margin-top: 2px;color: hex@title}
#productList .descriptionContainer .navigator_discount{color: hex@title}


/*Liste de produits en tableau1*/

.navigator_table{
    margin: 10px auto 20px auto;
}
.navigator_table th{text-align: center;}
.navigator_table td{vertical-align: top}
.navigator_table td.picto_table{vertical-align: middle}
.values_title{
}
.navigator_table1 th{
    color: hex@title;
}
.navigator_table_name{
    padding: 4px;
    vertical-align: top;
    text-align: left;
}
.navigator_table_name a{
    font-weight: bold;
}
.navigator_table_shortDesc{
    vertical-align: top;
    padding: 4px;
    max-width: 500px;
}
.navigator_table_price{
    font-weight: bold;
    text-align: left;
    padding: 4px;
    vertical-align: top;
}
.navigator_table_stock{
    width: 50px;
    text-align: center;
    padding: 4px;
}
.navigator_table_reference a{
    font-style: italic;
    font-weight: normal;
}
.table_preview{
    width: 40px;
    height: 40px;
}
.table_preview img{
    width: 40px;
}
.picto_table img{
    width: 26px;
}


.bg_table{
    background-color: #f9f9f9;
    border: 1px solid #666;
    padding: 5px;
}


/*Liste de produits en miniature1*/

#productMiniature .oneProduct{
    float: left;
    width: 150px;
    border: 1px solid #999;
    margin: 10px 20px 15px 0;
    -moz-border-radius-bottomright:6px;
    -webkit-border-radius-bottomright:6px;
    border-radius-bottomright:6px;
    -moz-border-radius-bottomleft:6px;
    -webkit-border-radius-bottomleft:6px;
    border-radius-bottomleft:6px;
}
#productMiniature .addToCart{position: absolute;margin: -15px 0 0 135px}
#productMiniature .addToCart:hover img{margin-top: 1px}
#productMiniature .descriptionContainer{text-align: left;padding: 5px;height: 95px;overflow: auto}
#productMiniature .descriptionContainer .name a{font-size: 14px;}
#productMiniature .descriptionContainer .price{font-size: 14px;color: hex@title;}
#productMiniature .descriptionContainer .navigator_discount{color: hex@title;}

/*Page details*/

.product_details1{
    border-top: 1px solid #b5b5b5;
    padding-top: 10px
}
.product_details1 table{
    vertical-align: top;
}
td.details_previewContainer {
    width: 224px;
    height: 224px;
    vertical-align: top;

}

body.Internet_Explorer_7_0 td.details_previewContainer>div,
body.Internet_Explorer_8_0 td.details_previewContainer>div{
    background: transparent url(/images/template/white_alpha60.png) repeat top center;
}
td.details_previewContainer>div{
}
.main_preview{
    width: 222px;
    height: 222px;
}
body.Internet_Explorer_7_0 .main_preview img{
    height: 210px;
    width: 210px;

}

.details_productPrice{color: hex@title;font-size:16px;}
.details_descriptionContainer {
    width: 460px;
    margin-left: 20px;
}
.onePack,
.details_discounts,
.details_infos,
.selectVariant,
.selectQuantity{
    border: 1px solid #b5b5b5;
    margin: 5px 0;
    padding: 5px;
    -moz-border-radius-bottomRight:6px;
    -webkit-border-radius-bottomRight:6px;
    border-radius-bottomRight:6px;
    -moz-border-radius-topRight:6px;
    -webkit-border-radius-topRight:6px;
    border-radius-bottomLeft:6px;
}
.details_product_descriptionTitle{
    font-size: 110%;
    font-weight: bold;
}

#productPage .discount_title{font-size: 13px;color: hex@title;margin-top:4px;}

#product_price_complete{font-size: 14px;margin: 10px 0}

#tmp_content #productPage div.tab_buttons{text-align: left;}

#productPage .packTitle{font-size: 14px; color: hex@title}
#productPage .packName{font-size: 14px; }

/* Other preview*/
#product_pictures{margin-top: 5px;}
#product_pictures img{
    width: 40px;
}
/*Packs*/
#showPack .prices{font-size: 16px;margin-top: 15px; color: hex@title;}
.packElements {margin-top: 10px}
.packElements tr{border: 1px solid #b5b5b5;}
.packElements tr td{padding: 5px}
#showPack .packQty{margin-top: 10px}
#showPack .packQty input.qty{border-color: #b5b5b5;width: 50px}
#showPack .packQty div.tab_buttons{text-align: left;margin-top: 10px}



/*navigator_sameCategory : aperçu des produit de la categorie dans la page de produit*/

.navigator_sameCategory{
    height: 110px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-top: 1px dashed #666;
}

.navigator_sameCategory table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    text-align: center;
    vertical-align: top;
}
.navigator_inSameCategory_pictos{
    vertical-align: middle;
}
.navigator_sameCategory a{
    font-size: inherit;
    font-weight: inherit;
    height: 5px;
}
.navigator_inSameCategory {
    font-size: 110%;
    font-weight: bold;
}
.navigator_productCategory {
    vertical-align: top;
}
.navigator_productCategory a{
    margin-right: 5px;
    margin-top: 5px;
    font-size: inherit;
    font-weight: inherit;
}
.navigator_productCategory_imgContainer{
    height: 40px;
    padding-top: 5px;
}
.navigator_productCategory_imgContainer img{
    width: 40px;
    height: 40px;
    border: 1px solid #333;
}
/*Searcher: category results*/

.catResult_container{
    margin-top: 10px;
}
.catResult_name {
    vertical-align: top;
}
.catResult_name a{
    font-weight: bold;
}
.catResult_pictos{
    clear: both;
    margin-top: 4px;
}
.catResult_image{
    vertical-align: top;
}
.catResult_image img{
    height: 60px;
    margin-right: 5px;
    border: 1px solid hex@title;
}

/*Searcher: product results*/

.prodResult_container{
    margin-top: 10px;
}
.prodResult_description{
    vertical-align: top;
}
.prodResult_name a{
    font-weight: bold;
}
.prodResult_reference a{
    text-decoration: none;
    font-style: italic;
}
.prodResult_pictos{
    vertical-align: top;
}
.productResult_price{
    font-weight: bold;
}
.prodResult_pictos img{
    margin-left: 5px;
}
.prodResult_image{
    vertical-align: top;
}
.prodResult_image img{
    height: 60px;
    margin-right: 5px;
    border: 1px solid hex@title;
}


/*CART COMMAND SHIPPING DELIVERY*/

/*cart_empty*/

/*cart_show and cart of command_confirm*/

.alertCart{
    text-align: center;
    color: #660000;
    font-size: 100%;
    font-weight: bold;
}

.shop_conditions{text-align: center}

.cart_save input{
    height: 40px;
    vertical-align: top;
}
.shop_cartQuantity input{
}

.shop_cartProduct_nameRef{}
.shop_cartProduct_name{font-weight: bold;}
.shop_cartProduct_name a{font-weight: bold;}
.shop_cartProduct_ref{}
.shop_cartProduct_ref a{}
.shop_cartProduct_shortDesc{}
.shop_productPrice{text-align: right;}
.shop_tableCart td{vertical-align: top;padding: 5px;text-align: left}

.shop_tableCart th{
    vertical-align: top;
    padding-top: 6px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    color: hex@title;
    height: 30px;
}
.shop_headerText{
    vertical-align: top;
    padding: 4px;
}
.shop_contentText{
    text-align: left;
}
.shop_table_preview img{
    width: 50px;
}
.shop_totalCart{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.shop_totalCart img{
    margin-top: 5px;
    cursor: pointer;
}
.shop_total_textClass{
    padding: 4px;
    font-size: 110%;
    text-align: right;
    font-weight: bold;
    color: #333333;
}
.shop_totalCartContainer{
    height: 80px;
    text-align: center;
    margin-top: 20px;
}
.shop_update{
    width: 80px;
    height: 60px;
    margin-left: 455px;
    text-align: center;
    color: hex@title
}
.shop_update img{
    margin-top: 2px;
    width: 26px;
    cursor: pointer;
    text-align: center;
}
.shop_total_text{
    color: hex@title;
    font-weight: bold;
    font-size: 130%;
}
.shop_pictoTable img, .shop_pictoTable input{
    width: 26px;
    cursor: pointer;
}
.shop_pictoCell{
    width: 30px;
}

.cart_goToCommand {
    color: hex@title;
    font-size: 110%;
    font-weight: bold;
}

.cart_goToCommand input{
    height:35px;
    width:auto;
    border: none;
}

.cart_changeShipMode{
    text-align: left;
    vertical-align: top;
}
.cart_changeShipMode a{
    font-weight: bold;
}

#shop_commandSummary div{margin: 0 auto;text-align: center}
.tabGroup_container .shop_modifyInfo_link a{color:#0066cc }
.tabGroup_container .shop_modifyInfo_link a:hover{color: #003399}
/*command_confirm*/

.table_recapCommand{margin-top: 10px}

.command_billingM_enterAdress{
    font-weight: bold;
}
.command_billingM_elements div{
    padding-top: 5px;
    text-align: left;
}
.command_billing_address textarea{
    height: 62px;
}
.command_billing_zipCode{
    margin-top: 10px;
}
.command_billing_city{
    margin-top: 10px;
}
.command_billing_city input{
    width: 180px;
}
.command_billing_middleTD{
    width: 100px;
}
.command_paymentContainer{
    margin-top: 20px;
}
/*Payment: command and legacy*/
.payments_proposed{
    font-style: italic;
}
.payment_oneMode_title{
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}
.payment_oneMode_logo img{
    width: 100px;
}
.payment_oneMode_content{
    text-align: center;
}
.payment_modeDescription{
    width: 300px;
    overflow: auto;
    vertical-align: top;
    padding: 4px;
    text-align: left;
}
.payment_modeName{
    font-weight: bold;
    vertical-align: top;
    padding: 4px;
    text-align: left;
}
.payment_logoMode img{
    width: 50px;
}

/*SHIP MODE: command and legacy*/

/*Choose shipper*/
.shipMode_chooseMode{
    font-style: italic;
}
.shipMode_input input{cursor: pointer;}

.shipMode_container table td{border: 1px solid #666;vertical-align: top}
.shipMode_container table td.shipMode_input{border: 1px solid #666;vertical-align: middle;}
.shipMode_container table td.shipMode_price{border: 1px solid #666;vertical-align: middle;}

.shipMode_image{cursor: pointer;}
.shipMode_image img{
    vertical-align: top;
    height: 80px;
}
.shipMode_nameDesc_container{
    text-align: left;
    padding-left: 4px;
    vertical-align: top;
    height: 80px;
    overflow: auto;
}
.shipMode_nameDescCome_container{
    text-align: left;
    padding-left: 4px;
    vertical-align: top;
}
.shipMode_name{
    font-weight: bold;
}
.shipMode_description{
    margin-top: 4px;
}
.shipMode_price{
    font-weight: bold;
    padding-right: 5px;
    text-align: right;
}
.shipMode_address{
    font-weight: bold;
    margin-top: 4px;
}
.shipMode_validate{
    margin-top: 10px;
    text-align: center;
}
.shipMode_severalAddress{
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
}
.shipMode_severalAddress_price{
    margin-top: 10px;
    text-align: center;
}
.shipMode_listBox{
    margin-top: 5px;
}
.shipMode_list{
    margin-top: 5px;
    font-weight: bold;
}
.shipMode_cost{
    margin-top: 10px;
}
/*one shipper*/
.shipMode_image_oneShipper{
    margin-top: 10px;
}
.shipMode_image_oneShipper img{
    height: 80px;
    width: 100px;
}
.shipMode_name_oneShipper{
    margin-top: 10px;
    font-weight: bold;
}

/* discount mentions */
.ship_discountContainer div{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.ship_discountIntro{
    font-weight: bold;
    margin-top: 10px;
}
.ship_discountApplied{
    margin-top: 10px;
}
.ship_discountApplied div{
    text-align: center;
    margin-right: 10px;
    margin-top: 2px;
    font-weight: bold;
}
.ship_discountMentions1{
    font-style: italic;
    margin-top: 15px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.ship_discountMentions2{
    font-style: italic;
    margin-top: 5px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.tabGroup_container .billing_enterAdress{border-bottom: 1px dashed #666;padding-bottom: 4px;margin-bottom: 10px;font-size: 14px}
.tabGroup_container .command_billing_address,
.tabGroup_container .command_billing_zipCode,
.tabGroup_container .command_billing_citiy
{margin-top: 10px}


/*Carts saved*/
.shop_tableCart .oneCart_name{font-weight: bold;margin: 5px 0;margin: 0 auto}
.carts_list_actions{
    margin-top: 10px;
    text-align:center;
}
.carts_list_actions img{
    width:32px;
    margin: 0 8px;
}

/* Embedded products (inside wEditors) */
body.pages_content_show #MB_frame {
  box-shadow: 0 0 5px #333;
  -moz-box-shadow: 0 0 5px #333;
  -webkit-box-shadow: 0 0 5px #333;
    
}
body.pages_content_show #MB_header {
 background-color: #000;
}
body.pages_content_show #MB_caption {
  font-size: 20px;
  color: #CCC;
  text-align: center;
  font-weight:bold;
  text-shadow: 0 0 3px #999;
  -moz-text-shadow: 0 0 3px #999;
  -webkit-text-shadow: 0 0 3px #999;
}

body #MB_content .rSP_product_preview{
    width: 222px;
    margin-right: 10px;
    position:absolute;
    left:0;
}
body #MB_content .rSP_product_preview img{
    width: 222px;
    box-shadow: 0 0 2px #222;
    -moz-box-shadow: 0 0 2px #222;
    -webkit-box-shadow: 0 0 2px #222;
}
body #MB_content .rSP_product_preview_small img{
    width:auto;
    margin:5px;
}

 body #MB_content .rSP_product_details{
    margin-left:235px;
    width: 640px;
    font-size: 16px;
    min-height: 300px;
}
 body #MB_content .rSP_product_details .rSP_element{
     margin-bottom: 10px;
     padding-bottom: 10px;
     border-bottom: 1px solid #ccc;
 }
 body #MB_content .rSP_product_details .rSP_productName{
     display:none;
 }
 
 body #MB_content .rSP_product_details .rSP_note{
     color: #999;
     font-style: italic;
     font-size: 12px;
 }
 body #MB_content .rSP_product_details .rSP_description{
     font-size: 12px;
     color: #333;
 }
 body #MB_content .rSP_product_details .rSP_total{
     min-height:40px;
 }
 body #MB_content .rSP_product_details .discountContainer .discount_desc{
     font-size: 12px;
     font-weight: bold;
     color: #333;
     margin-top:5px;
 }