/*
*******************************************************************************
PARTIE EDITABLE SIMPLEMENT
*/

body{
    /*Image d'arriere plan'*/
    background-color:#E8E8E8;
}

body>div{
    /*Police, il faut séparer les différentes polices choisies par une virgule,
        la première de la liste disponible chez l'utilisateur sera utilisée.*/
    font-family: Arial,sans-serif;
    /*Taille de la police générale. Beaucoup d'autres tailles sont définies en 
        fonction de celle la (en pourcentge), donc si celle-ci évolue, les 
        autres évolueront automatiquement*/
    font-size: 14px;
}

/*
FIN DE LA PARTIE EDITABLE SIMPLEMENT
*******************************************************************************
Après ca, il n'est pas recommandé de faire des modifications sans vraiment 
savoir ce qu'on fait...
*/

body>div{
    margin-left: auto;
    margin-right: auto;
    width: 950px;
}

.aLink{
    cursor: pointer;
}

.falseLink{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

img { 
    border: 0;
}

#bg_top{
	background: transparent url(../images/background-top.png) no-repeat center 0;
	height: 120px;
}

#bg_middle{
	background: #FFFF00 url(../images/background-content.png) repeat-x 0 top;
	width: 900px;
}

#content_middle{
	margin-left: 15px;
        /*On compte 10px à droite et à gauche*/
	width: 880px;
}

#bg_bottom{
	background: transparent url(../images/background-bottom.png) no-repeat center 100%;
	height: 163px;
        vertical-align:bottom;
}

#copyrights{
    text-align:center;
    font-size:60%;
}

/*
#breadcrumbs{
    width: 880px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    color: #3f3f3c;
    font-size: 60%;
    text-align: left;
}*/
/*
#mainMenu{
    background-color: #cebf85;
}
#mainMenu ul{
    background-color: yellow;
    list-style: none inside;
    display: inline;
}
#mainMenu .menuGroup{
    background-color: white;
}
#mainMenu .menuGroup ul{
    list-style: none inside;
}
#mainMenu .menuTitle{
    background-color: red;
}
#mainMenu .menuElements{
    background-color: blue;
}
#mainMenu .menuElement{
    background-color: green;
}
*/




/*
#sidebar div{
    margin: 15px;
    width: 170px;
    text-align: center;
}
*/
