/* Shopsailors' CSS File | Template : name@template | Variation : name@variation | Value : name@value */
/* UTF-8 Check : à  ç  é  è  */

*{outline:0 none}
body{
    background: transparent url(/images/template/bg_bg.png) repeat center top;
    font-family: Arial,sans-serif;
    font-size: 12px;
    color: #ffffff;
}
.background{
    margin-left: auto;
    margin-right: auto;
    width:900px;
}
div#mainContainer{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

#content_middle{
    margin-left: 20px;
    padding-top: 20px;
    width: 860px;
}
.page_content{
	margin-top: 10px;
}
.page_content a{
	color: #ffffff;
    text-decoration: underline;
}
.page_content a:hover{
	color: #ffffff;
    text-decoration: none;
}
.bg_content_top{
    background: transparent url(/images/template/variation/bg_content_top.png?suffix@images) no-repeat center top;
    width: 900px;
    height: 62px;
    margin-top: 4px;
}
.bg_content_middle{
    background: transparent url(/images/template/variation/bg_content_middle.png?suffix@images) repeat-y center top;
    width: 900px;
}
.bg_content_bottom{
    background: transparent url(/images/template/variation/bg_content_bottom.png?suffix@images) no-repeat center top;
    width: 900px;
    height: 62px;
}
#mainLogo{
    width:900px;
    text-align: center;
}
#mainLogo img{
    max-height:200px;
    margin-top: 10px;
}
.topTitle{
    color: #999999;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 0px;
}
/* Menu and sub menus */

	/*Main level*/
.menu_container{
	width: 900px;
	margin-left: 25px;
	position: relative;
    z-index: 100;
}
.menu_container div{
	position: relative;
}
.one_menuH>div>div{
	position: absolute;
	display: block;
}
/* New menu */
.one_menu{
    margin:0;
    padding:0;
    list-style-type:none;
    display:inline;
}
.one_menu li{
    float:left;    
}
.one_menu .menu_entry_img{
    overflow:hidden;
}
.one_menu li img.hover{
    display:none;
}

.one_menu li:hover img.hover{
    display:inline-block;
}
.one_menu li:hover img.notHover{
    display:none;
}
.with_submenus .submenus{
    position:absolute;
    margin:-2px 0 0 -1px;
    padding:0;
    list-style-type:none;
    visibility:hidden;
    width:200px;
    border-left: 1px solid #b5b5b5;
    border-right: 1px solid #b5b5b5;
}

.with_submenus .submenus li{
    width: 100%;
    padding: 2px 10px 2px 2px;
    margin: 0 5px 0 0;
    background-color: #f2f2f2;
    border-bottom: 1px solid #b5b5b5;
    text-align:left;
}
.with_submenus .submenus li a{
    color: #333333;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}
.with_submenus .submenus li a:hover{
    color: hex@text_color;
    text-decoration:underline;
}
/* End of new menu*/

/*SEARCHER*/

#searcher{
	text-align: center;
    height: 20px;
	padding-top: 10px;
	margin-left: 25px;
}
#searcher input{
    vertical-align:middle;
}
#searcher img{
    vertical-align:middle;
}
.searcher_bgRight{
    width: 12px;
    height: 20px;
    margin: inherit;
    vertical-align:middle;
}
.searcher_bgLeft{
    width: 12px;
    height: 20px;
    margin: inherit;
    vertical-align:middle;
}
.searcher_input{
    background: transparent url(/images/template/searcher_bg.png) repeat center top;
    border: none;
    height: 17px;
	width: 155px;
    font-size: 90%;
    padding-top: 2px;
	color: #ffffff;
}
.searcher_image{
    border: none;
    margin-left: 5px;
}

/* Champ de connexion */

#connectionContainer{
    text-align: right;
	height: 20px;
    position: absolute;
	margin-top: 14px;
	margin-left: 22px;
	margin-left: 22px;
	font-weight: bold;
}
#connectionContainer a{
    color: #cccccc;
}

/* flags */

.pictoFlagsContainer{
text-align: right;
width: 150px;
height: 20px;
margin-left: 730px;
margin-top: 15px;
position: absolute;
}
.pictoFlags{
width: 20px;
margin-right: 4px;
cursor: pointer;
}

/*ShowList: liste d'aperçus d'articles*/

/* Diaporama */

#diapo{
	height: 520px;
	width: 520px;
	margin-left: 10px;
	padding-top: 10px;
}

#diapo table{
	margin-left: 0px;
}

.diapo>td{
	width:500px;
}
ul.crossfade {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
	width:500px;
}
.diapo_fader li{
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
}
.diapo>img {
	display: block;
	border: none;
}

/* TAB GROUPS */

body .tabGroup_containerTitle{
    float:left;
    background-color:rgba(0,0,0,0.3);
    padding:6px 8px;
    border:1px solid #000;
    margin-right: -1px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright:  6px;
    cursor:pointer;
}
body .tabGroup_containerTitle.selected,
body .tabGroup_containerTitle:hover{
    background-color:#000;
    color:#efe8e8;
}
body .tabGroup_container{
    width:100%;
    border: 1px solid #000;
    padding:10px 4px 10px 4px;
    -moz-border-radius: 6px;
    -moz-border-radius:  6px;
    -moz-border-radius-topleft: 0px;
    background-color:rgba(0,0,0,0.3);
    margin-top: -2px;
}

body .tabGroup_content input,.tabGroup_content textarea{border: 1px solid #333;}


body .tabGroup_adminTitle{
    float:left;
    background-color:rgba(255,255,255,0.4);
    padding:2px 3px 1px 3px;
    border:1px solid #000;
    margin-right: -1px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright:  6px;
}



	/* NOTIFICATIONS */

	/*notification container*/
body .notif_container{
	text-align: center;
	width: 100%;
	color: #ffffff;
	font-size: 110%;
	margin-bottom: 10px;
}
body .notif_container a{
	color: #ffffff;
}

body .notif_container input{border: 1px solid #000}
body .notif_container textarea{border: 1px solid #000}

 /* Page de contact */ 
#contact{width: 850px;}

/*CAPTCHA*/
.captcha_input input{
	border: 1px solid #000000;
}
.captcha_code img{
	border: 1px solid #000000;
}

/*Legacy menu*/

#copyrights{
    text-align:center;
    font-size:90%;
	clear: both;
	font-weight: bold;
    margin-top: 10px;
}


#copyrights a{
    color: #ffffff;
    margin-top: 5px;
}
/*All templates*/

h1{ /* Grand titre des pages */
    font-weight: bold;
    font-size: 140%;
    text-align: left;
    margin-top: 0px;
}

h2{ /* Petit titre des pages */
    font-weight: bold;
    font-size: 120%;
    line-height: 16px;
    text-align: left;
    text-indent: 15px;
}
h3{
    margin-bottom: 0;
}

.border-top{
border-top: 1px solid #666666;
}
.border-right{
border-right: 1px solid #666666;
}
.border-bottom{
border-bottom: 1px solid #666666;
}
.border-left{
border-left: 1px solid #666666;
}
.alert-top{
border-top: 1px solid #ff0000;
}
.alert-left{
border-left: 1px solid #ff0000;
}
.alert-right{
border-right: 1px solid #ff0000;
}
.alert-bottom{
border-bottom: 1px solid #ff0000;
}
p{ /* Paragraphes */
    font-weight: normal;
    line-height: 16px;
    text-align: left;
    text-indent: 2px;
}

.aLink{
    cursor: pointer;
}

.falseLink{
    cursor: pointer;
    text-decoration: underline;
}

img { 
    border: 0;
}

.hideLink{
    text-decoration:inherit;
    color:inherit;
}
.no-margin{
    margin:0;
}
.fourFifth{
    font-size:80%;
    font-style: italic;
    color: #ffffff;
}
input, textarea{
	border: 1px solid #666666;
}
.table_description{
    font-style: italic;
    color: #003333;
    font-size: 80%;
}
.progressBar{
    width: 480px;
    height: 30px;
    background: url(/images/shared/icons/progressBar.png) left no-repeat;
    padding: 0;
    margin: 0;
    text-align:center;
    border:1px solid black;
}

#content_middle #forum_menu{background-color: #111;border: 1px solid #000}
#content_middle #forum_menu_part1 .forumMenu_btn{color: #f3f3f3;border-color: #000}
#content_middle #forum_menu_part1 .forumMenu_btn:hover{background-color: #333}
#content_middle #forum_menu_part1 .forumMenu_btn:hover a{background-color: transparent}
#content_middle #forum_menu_part1 .forumMenu_btn a{color: #f3f3f3;}
#content_middle #forumMenu_createTopic{border-color: #000}
#content_middle #forumMenu_createTopic:hover{background-color: #333;color: #ededed}

#content_middle #forumCat_menu{background-color: #222;}
#content_middle #forumCat_menu td{border-color: #000;color: #ededed}

#content_middle #forumCat_createTopic #boxCreateTopic_title,
#content_middle #forumCat_createTopic{background-color: #111;color: #ededed}
#content_middle #forumCat_createTopic #boxCreateTopic_title,
#content_middle #forumCat_createTopic td{border-color: #000;}

#content_middle #profile_modifyDatas{box-shadow:  0px 0px 4px #333;}

#content_middle #shop_layout_top,
#content_middle #shop_layout_bottom{margin-left: -9px}

#content_middle .bg_table{background-color: transparent}
#content_middle .selectAcategory{color: #fff}


/*Special FORUM classes*/
/*Cat lists*/
#content_middle .forum_oneCat{background-color: #111;border-color: #000}
#content_middle .forum_oneCat a,
#content_middle .forum_oneCat .oneCat_contents,
#content_middle .forum_oneCat .oneCat_contents a,
#content_middle .forum_oneCat h2{color: #f3f3f3}
#content_middle #forum_show .oneCat_image{
    background-color: #101010;
    border-color: #000;
}
#content_middle .forum_modifyCat{
    background-color: #222;
    border-color: #000;
}


#content_middle #forum_show .breadcrumbs{
    border-color: #000;
    background-color: #222;
    color: #fcfcfc;
}
/*END OF CAT LISTS*/

/*topic list*/

#content_middle #forum_topicList,
#content_middle .forum_addTopic table td input{border-color: #000}
#content_middle .topicTitle_th,
#content_middle .topicPublishInfo_th,
#content_middle #forum_topicList th{
    background-color: #111;
    border-color: #000
}
#content_middle #forum_topicList td{
    background-color: #222;
    border: 1px solid #000;
}
#content_middle #forum_topicList td.topicList_oneTitle:hover{background-color: #000}
#content_middle .topicList_oneTitle a{
    color: #fff;
}

#content_middle .forum_addTopic,
#content_middle .forum_addCat{
    background-color: #111;
    border-color: #000;
    margin-bottom: 0px;
    padding-bottom: 20px
}

#content_middle .topic_post,
#content_middle .topicContent{
    background-color: #222
}
