.oneDatePicker{
    position:absolute;
    width:150px;
    border:1px solid black;
    -moz-border-radius:0 0 5px 5px;
    background-color:#999999;
}
.oneDatePicker_monthAndYear{
    font-weight:bold;
    color:black;
}
.oneDatePicker table{
    width:150px;
}
.oneDatePicker table td{
    width:14%;
}
.oneDatePicker_option{
    font-size:10px;
}
.oneDatePicker_monthAndYear{
    background-color:#666666;
    text-align:center;
}
.oneDatePicker_days td{
    background-color:#666666;
}
.oneDatePicker td{
    font-weight:bold;
    color:#000000;
    text-align:center;
    cursor:default;
}
.oneDatePicker_noSelect{
    color:#333333;
}
.oneDatePicker_select{
    cursor:pointer;
}
.oneDatePicker_otherMonth{
    /*font-weight:normal;*/
}
.oneDatePicker_disabled{
    font-weight:normal;
    color:#333333;
}
.oneDatePicker_today{
    color:#663333;
}
.oneDatePicker_year, .oneDatePicker_month{
    cursor:pointer;
    text-decoration:underline;
}