/* Shopsailors' CSS File | Template : name@template | Variation : name@variation | Value : name@value */
/* UTF-8 Check : à  ç  é  è  */
*{outline:0 none}
body{
	background: hex@background url(/images/template/bg_bg.png) repeat-x top center;
    font-family: Arial,sans-serif;
    font-size: 12px;
    color: #333333;
	margin-left: auto; 
	margin-right: auto;
}

/* Champ de connexion */

#connectionContainer{
	height: 20px;
	margin-left: 45px;
	margin-top: 15px;
	font-weight: bold;
	position: absolute;
    text-align: left;
    color: #ffffff;
}
#connectionContainer a{
	color: #ffffff;
	margin-top:5px;
}

#mainContainer{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}
#hb_top{
	background: transparent url(/images/template/variation/bg_top.png?suffix@images) no-repeat center top;
	height: 54px;
}
#hb_middle{
	background: transparent url(/images/template/variation/bg_top_middle.png?suffix@images) repeat-y center top;
	min-height: 150px;
}
#mainLogo{text-align: center}
#mainLogo img{
    max-height:200px;
    margin:0 auto
}
#bg_middle{
	background: transparent url(/images/template/bg_middle.png) repeat-y center top;
}
#content_middle{
	margin-left: 12px;
    padding: 0 5px;
	width: 868px;
}
.page_content{
	margin-top: 10px;
}
.page_content a{
	color: #333333;
}
#bg_bottom{
	background: transparent url(/images/template/bg_bottom.png) no-repeat center bottom;
	height: 66px;
}
.topTitle{
    text-align:center;
    font-size:90%;
    color:hex@text_color;
    width:100%;
    padding-top: 5px;
    margin-bottom: 0;
}

/* Menu and sub menus */

	/*Main level*/
.menu_container{
	width: 900px;
	margin-left: 25px;
	padding-top: 5px;
	position: relative;
    z-index: 100;
}
.menu_container div{
	position: relative;
}
.one_menuH>div>div{
	position: absolute;
	display: block;
}
/* New menu */
.one_menu{
    margin:0;
    padding:0;
    list-style-type:none;
    display:inline;
}
.one_menu li{
    float:left;    
}
.one_menu .menu_entry_img{
    overflow:hidden;
}
.one_menu li img.hover{
    display:none;
}

.one_menu li:hover img.hover{
    display:inline-block;
}
.one_menu li:hover img.notHover{
    display:none;
}
.with_submenus .submenus{
    position:absolute;
    margin:-2px 0 0 -1px;
    padding:0;
    list-style-type:none;
    visibility:hidden;
    width:200px;
    border-left: 1px solid #b5b5b5;
    border-right: 1px solid #b5b5b5;
}

.with_submenus .submenus li{
    width: 100%;
    padding: 2px 10px 2px 2px;
    margin: 0 5px 0 0;
    background-color: #f2f2f2;
    border-bottom: 1px solid #b5b5b5;
    text-align:left;
}
.with_submenus .submenus li a{
    color: #333333;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}
.with_submenus .submenus li a:hover{
    color: hex@text_color;
    text-decoration:underline;
}
/* End of new menu*/

/* flags */
.pictoFlagsContainer{
width: 850px;
height: 20px;
margin-top: 10px;
padding-left: 45px;
}
.pictoFlags{
width: 20px;
margin-right: 4px;
cursor: pointer;
}

/*SEARCHER*/

#searcher{
	position: absolute;
    height: 20px;
	margin-top: 6px;
	margin-left: 700px;
}
#searcher input{
    vertical-align:middle;
}
#searcher img{
    vertical-align:middle;
}
.searcher_bgRight{
    width: 12px;
    height: 20px;
    margin: inherit;
    vertical-align:middle;
}
.searcher_bgLeft{
    width: 12px;
    height: 20px;
    margin: inherit;
    vertical-align:middle;
}
.searcher_input{
    height: 17px;
	width: 155px;
    font-size: 90%;
    padding-top: 2px;
}
.searcher_image{
    border: none;
    margin-left: 5px;
}

 /* Page de contact */
 
#contact{
	width: 868px;
	text-align: left;
	margin-left: auto; 
	margin-right: auto;
	margin-top: 20px;
}

#contact table input{width: 170px;}
#contact table td{
	vertical-align: top;
}
 #contactData_container{
	margin-top: 10px;
 }
 #contactData_container h3{
	color: hex@text_color;
	font-size: 115%;
 }
.contact_intro{
	text-align: left;
	width: 300px;
}
.contact_address{
	width: 200px;
	text-align: left;
}
.contact_phone{
	width: 200px;
	text-align: left;
}
.contact_mail{
	width: 200px;
	text-align: left;
}
#sendMailForm_container{
	width: 400px;
	margin-left: 140px;
}
.sendMail_IEmargin{
	height: 25px;
}

#sendMailForm_container h3{
	margin-top: 0px;
	text-align: center;
	font-size: 115%;
}
#sendMailForm_container table{
	width: 340px;
	text-align: center;
	margin-top: 14px;
	margin-left: auto;
	margin-right: auto;
}
#sendMailForm_container div{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.sendmailContent{
	padding-left: 0px;
}
.contactMail_link{
}
.mailContent{
	width: 340px;
	height: 140px;
}
.contact_submitCaptcha{
	text-align: center;
	margin-top: 30px;
}
.sendmailInput input {
	width: 150px;
 }

/*CAPTCHA*/
.captchaText{
}
.captcha_container{
	position:relative;
	width:240px;
	height:40px;
	margin-top:5px;
}
.captcha_code{
	position:absolute;
	left:0;
	top:0;
	width:130px;
}
.captcha_reload{
	position:absolute;
	left:210px;
	top:0;
	width:30px;
	cursor:pointer;
}
.captcha_input{
	position:absolute;
	left:140px;
	top:0;
	width:60px;
}
.captcha_input input{
}
.captcha_code img{
    border: 1px solid #666;
	width:130px;
	height:30px;
}

/*Legacy menu*/
#copyrights{
    color: #ffffff;
    text-align:center;
    font-size:90%;
	clear: both;
	font-weight: bold;
}

#copyrights a{
    color: #ffffff;
}


/*All templates*/
h1{ /* Grand titre des pages */
    color: hex@text_color;
    font-weight: bold;
    font-size: 160%;
    line-height: 24px;
    text-align: left;
	margin-top: 10px;
}

h2{ /* Petit titre des pages */
    color: hex@text_color;
    font-weight: bold;
    font-size: 120%;
    line-height: 16px;
    text-align: left;
    text-indent: 15px;
}
h3{
	margin-bottom: 0;
}

.border-top{
border-top: 1px solidhex@text_color;
}
.border-right{
border-right: 1px solidhex@text_color;
}
.border-bottom{
border-bottom: 1px solidhex@text_color;
}
.border-left{
border-left: 1px solidhex@text_color;
}
.alert-top{
border-top: 1px solid #660000;
}
.alert-left{
border-left: 1px solid #660000;
}
.alert-right{
border-right: 1px solid #660000;
}
.alert-bottom{
border-bottom: 1px solid #660000;
}

p{ /* Paragraphes */
    font-weight: normal;
    line-height: 16px;
    text-align: left;
    text-indent: 2px;
}
input, textarea{
}
.fourFifth{
font-size:80%;
font-style: italic;
}
.table_description{
font-style: italic;
color: white;
font-size: 80%;
}

a:link, a:visited{
	color: #333333;
}
 a:active, a:hover{
	color: hex@text_hover_color;
}
.aLink{
    cursor: pointer;
}

.hideLink{
  text-decoration:inherit;
  color:inherit;
}
.falseLink{
    cursor: pointer;
    text-decoration: underline;
}
.falseLink:hover{
	color: hex@text_hover_color;
}
img { 
    border: 0;
}

#content_middle #forum_menu{border: 1px solid #999}


#content_middle #shop_layout_bottom,
#content_middle #shop_layout_top{margin-left: -5px;}