.generated_comic_b_du_cs_s18_cCC50E5{font-family: Comic Sans MS, Comic Sans MS5, cursive;font-weight:bold;text-decoration:underline;text-transform:none;font-variant:small-caps;font-size: 18px;color: #CC50E5;}
.generated_comic_b_s14{font-family: Comic Sans MS, Comic Sans MS5, cursive;font-weight:bold;font-size: 14px;}
.generated_i_ds{font-style:italic;text-decoration:line-through;}
.generated_cu{text-transform:uppercase;font-variant:normal;}
.generated_nb_ni_dn_cn{font-weight:normal;font-style:normal;text-decoration:none;text-transform:none;font-variant:normal;}
.generated_arialblack{font-family: Arial Black, Arial Black, Gadget, sans-serif;}
.generated_comic{font-family: Comic Sans MS, Comic Sans MS5, cursive;}
.generated_lucida{font-family: Lucida Console, Monaco, monospace;}
.generated_times{font-family: Times New Roman, Times New Roman, Times, serif;}
.generated_verdana{font-family: Verdana, Verdana, Geneva, sans-serif;}
.generated_s24{font-size: 24px;}
.generated_du{text-decoration:underline;}
.generated_cs{text-transform:none;font-variant:small-caps;}
.generated_nb_bgc9CA830{font-weight:normal;background-color: #9CA830;}
