/* Shopsailors' CSS File | Template : name@template | Variation : name@variation | Value : name@value */
/* UTF-8 Check : à  ç  é  è  */

*{outline:0 none}
body{
    background: transparent url(/images/template/variation/bg_body.png?suffix@images) repeat top center;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial,sans-serif;
    font-size: 12px;
    color: #ffffff;
    margin: 0;
}
#mainContainer{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}
.bg_repeated{
    background: transparent url(/images/template/variation/bg_bg.png?suffix@images) repeat-x 0 0;
}
#header{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
#contentTop{
    width: 900px;
    padding-top: 5px;
}
#contentTop_left{
    height: 99px;
}

/* flags */
.pictoFlagsContainer{
    text-align: left;
    height: 20px;
    padding-top: 5px;
    float: left;
}
.pictoFlags{
    width: 20px;
    margin-right: 4px;
    cursor: pointer;
}

.topTitle h1{font-size: 100%;padding-top: 4px;}
/* Champ de connexion */

#connectionContainer{
    height: 20px;
    width: 900px;
    text-align: right;
    position: absolute;
    padding-top: 5px;
}
#connectionContainer a:hover{text-decoration: underline;color:#ccc;}
#connectionContainer a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.grey_link_connect{
}
.grey_link{
    color: #333333;
    margin-top:2px;
    margin-bottom:2px;
}
.grey_link_line{
    color: #333333;
    margin-top:5px;
}

/*LOGO*/
#mainLogo img{
    max-height:200px;
}

/*contenus de droite de la page*/
.titleContainer{background-color: #f1f1f1;padding-top: 5px;border-bottom: 1px solid #e7e7e7;}
.titleContainer.clear{background-color: #f1f1f1;}
.bodyTitle{float: left;width: 685px;}

.page_content{
    padding: 10px;

}
.bg_content{
    background-color: #fff;
}
.content_middle{
    width: 900px;
    color: #666;
}
.content_middle a{
    color: hex@text_color;
    text-decoration: none;
}
.content_middle h1{
    padding: 0 10px;
}

.content_middle a:hover{color: hex@text_hover_color;}
.content_middle h1{
    text-align: left;
}

/*SEARCHER*/
#searcher{
    float: left;
}
#searcher input{
    vertical-align:middle;
}
#searcher img{
    vertical-align:middle;
}
.searcher_input{
    border: none;
    height: 17px;
    width: 155px;
    font-size: 90%;
    padding-top: 2px;
    color: #999;
    font-style: italic;
    border: 1px solid #e7e7e7;
}
.searcher_image{
    border: none;
    margin-left: 5px;
}

/* Menu and sub menus */

/*Main level*/
.menu_container{
    text-align: left;
    padding: 2px 2px 2px 2px;
    float: left;
    background-color: #f3f3f3;
    border-bottom: 1px solid #ccc;
    z-index: 100;
}
.menu_container div{
    position: relative;
}
.one_menuH>div>div{
    position: absolute;
    display: block;
}

/* New menu */
.one_menu{
    margin:0;
    padding:0;
    list-style-type:none;
    display:inline;
}
.one_menu li{
    float:left;    
}
.one_menu .menu_entry_img{
    overflow:hidden;
}
.one_menu li img.hover{
    display:none;
}

.one_menu li:hover img.hover{
    display:inline-block;
}
.one_menu li:hover img.notHover{
    display:none;
}
.with_submenus .submenus{
    position:absolute;
    margin:-2px 0 0 -1px;
    padding:0;
    list-style-type:none;
    visibility:hidden;
    width:200px;
    border-left: 1px solid #b5b5b5;
    border-right: 1px solid #b5b5b5;
}

.with_submenus .submenus li{
    width: 100%;
    padding: 2px 10px 2px 2px;
    margin: 0 5px 0 0;
    background-color: #f2f2f2;
    border-bottom: 1px solid #b5b5b5;
    text-align:left;
}
.with_submenus .submenus li a{
    color: hex@text_color;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}
.with_submenus .submenus li a:hover{
    color: hex@text_hover_color;
    text-decoration:underline;
}
/* End of new menu*/

/* Menu bas de page */
.blackbar_bottom{
    background: #000000 repeat top center;
}
.menu2{
    padding-top: 5px;
    text-align: right;
    margin-left: auto;
}
.menu2 div{
    position: relative;
    text-align: right;
    margin-left: auto;

}
.menu2 .one_menuH .oneMenuEntry:hover .submenus_entryContainer{
    display:none;
}
#copyrights{
    color: #ffffff;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    font-size:90%;
    font-weight: bold;
    clear: both;
    width: 900px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#copyrights a{
    color: #ffffff;
    text-decoration: underline;
}
#copyrights a:hover{
    text-decoration: none;
}
/* End of menu */


/* diaporama */

#globalDiapo{
    float: left;
    margin-top: 0px;
    padding-top: 0px;
    margin-right: 20px;
    margin-bottom : 2px;
}

.bg_diapo{

}
.bg_diapo table{
    margin-top: inherit;
    text-align: left;
}
.bg_diapo td{
    margin-top: inherit;
}


/* Page de contact */

#contact{
    width: 880px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
#contact table input{width: 170px;}
#contact table td{vertical-align: top;}
#contactData_container{
    margin-top: 10px;
}
#contactData_container h3{
    font-size: 115%;
}
.contact_intro{
    text-align: left;
    width: 300px;
}
.contact_address{
    width: 200px;
    text-align: left;
}
.contact_phone{
    width: 200px;
    text-align: left;
}
.contact_mail{
    width: 200px;
    text-align: left;
}
#sendMailForm_container{
    width: 400px;
    margin-left: 180px;
}
.sendMail_IEmargin{
    height: 25px;
}

#sendMailForm_container h3{
    margin-top: 0px;
    text-align: center;
    font-size: 115%;
}
#sendMailForm_container table{
    width: 340px;
    text-align: center;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
}
#sendMailForm_container div{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.sendmailContent{
    padding-left: 0px;
}
.mailContent{
    width: 340px;
    height: 140px;
}
.contact_submitCaptcha{
    text-align: center;
    margin-top: 30px;
}
.sendmailInput input {
    width: 150px;
}

/*ADMIN: edtion d'un nouvel article*/

.content_edit_shorter{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}


.content_edit_shorter textarea{
    width: 400px;
}


/*CAPTCHA*/
.captchaText{
}
.captcha_container{
    position:relative;
    width:240px;
    height:40px;
    margin-top:5px;
}
.captcha_code{
    position:absolute;
    left:0;
    top:0;
    width:130px;
}
.captcha_reload{
    position:absolute;
    left:210px;
    top:0;
    width:30px;
    cursor:pointer;
}
.captcha_input{
    position:absolute;
    left:140px;
    top:0;
    width:60px;
}
.captcha_code img{
    border: 1px solid #666;
    width:130px;
    height:30px;
}

/*général: all templates*/

h1{ /* Grand titre des pages */
    font-weight: bold;
    font-size: 130%;
    line-height: 24px;
    text-align: left;
    margin-top: inherit;
}

h2{ /* Petit titre des pages */
    font-weight: bold;
    font-size: 120%;
    line-height: 16px;
    text-align: left;
    text-indent: 15px;
}
h3{
    margin-top: 0px;
    margin-bottom: 0;
}

p{ /* Paragraphes */
   font-weight: normal;
   line-height: 16px;
   text-align: left;
   text-indent: 2px;
}
.border-top{
    border-top: 1px solid hex@text_color;
}
.border-right{
    border-right: 1px solid hex@text_color;
}
.border-bottom{
    border-bottom: 1px solid hex@text_color;
}
.border-left{
    border-left: 1px solid hex@text_color;
}
.alert-top{
    border-top: 1px solid #ff0000;
}
.alert-left{
    border-left: 1px solid #ff0000;
}
.alert-right{
    border-right: 1px solid #ff0000;
}
.alert-bottom{
    border-bottom: 1px solid #ff0000;
}

.halfSize{
    width:50%;
}
.hideLink{
    text-decoration:inherit;
    color:inherit;
}
input, textarea{
}
.fourFifth{
    font-size:80%;
    font-style: italic;
}
.table_description{
    font-style: italic;
    color: white;
    font-size: 80%;
}
a:link{
}
a:active{
    color: #ffffff;
}
a:hover{
}
.aLink{
    cursor: pointer;
}

.falseLink{
    color: #ffffff;
    cursor: pointer;
    text-decoration: underline;
}
img { 
    border: 0;
}

.page_content #forum_menu{
    background-color: #ededed;
    margin-top: -10px;
    width: 900px;
    margin-left: -10px;
    border-color: #ccc;
}

.page_content #shop_layout_bottom,
.page_content #shop_layout_top{margin-left: -10px;margin-top: -10px}

.page_content #forumMenu_createTopic:hover{color: hex@text_hover_color}
.page_content #forumMenu_createTopic{
    color: hex@text_color;
    text-shadow: 0px 0px 4px #999;
}