<?xml version="1.0"?>
<content>
/* Shopsailors' CSS File | Template : <RENDER_VALUE what="template>name"/> | Variation : <RENDER_VALUE what="variation>name"/> */

body{
    background: transparent url(/images/template/variation/bg_bg.png) repeat 0 0;
    font-family: Arial,sans-serif;
    font-size: 12px;
    color: #333333;
}
div#mainContainer{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}
#bg_bottom{
background: transparent url(/images/template/variation/bg_bottom.png) no-repeat center top;
	width: 900px;
	height: 121px;
	margin-left: auto;
	margin-right: auto;
}
#bg_middle2{
background: transparent url(/images/template/variation/bg_middle2.png) repeat-y center top;
margin-left: auto;
margin-right: auto;
width: 900px;
}
#bg_top{
    background: transparent url(/images/template/variation/bg_top.png) no-repeat center top;
	width: 900px;
	height: 189px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	}
#content_middle{
	margin-left: 40px;
	margin-top: 0px;
	width: 820px;
	z-index: 100;
}
.important{
    color : <RENDER_VALUE what="variation>importantColor"/>;
}

#head{
	background: transparent url(/images/template/variation/head.png) no-repeat center top;
	height:87px;
	text-align:center;
}
.logoContainer{
	width: 400px;
	margin-left: 265px;
	text-align: center;
	position: absolute;
}
.logoContainer img{
	width: 375px;
	height: 75px;
    padding-top: 15px;
}

.menu1{
	text-align: center;
	margin-top: 5px;
	margin: inherit;
}
.menu1_bottom{
	padding-top: 50px;
	text-align: center;
	clear: both;
}
.topTitle{
    text-align:center;
    font-size:120%;
    color: #333333;
    padding-top:5px;
    width:100%;
	margin-right:40px;
	margin-bottom:15px;
}

/*SEARCHER*/

#searcher{
	text-align: right;
    height: 20px;
	margin-right: 37px;
	padding-top: 15px;
}
#searcher input{
    vertical-align:middle;
}
#searcher img{
    vertical-align:middle;
}
.searcher_bgRight{
    display: none;
}
.searcher_bgLeft{
    display: none;
}
.searcher_input{
	background: transparent url(/images/template/variation/searcher_bg.png) repeat right top;
    border: none;
	width: 155px;
    font-size: 90%;
    padding-top: 2px;
}
.searcher_image{
    border: none;
    margin-left: 5px;
}

/*Search results: articles*/

.search_results_type_name{
	margin-top: 20px;
    font-weight: bold;
    font-size: 110%;
}
.searcher_oneArticle_descContainer{
    vertical-align: top;
}
.searcher_oneArticle_image{
	vertical-align: top;
	margin-right: 5px;
	border: 1px solid #333333;
}
.articleResult_title a{
	color: <RENDER_VALUE what="variation>globalText"/>;
	font-weight: bold;
}
.searcher_oneArticle_image img{
    height: 60px;
}
.articleResult_contents{
	margin-top: 10px;
	}
	
/* flags */
.pictoFlagsContainer{
width: 865px;
height: 20px;
text-align: right;
position: absolute;
}
.pictoFlags{
width: 20px;
margin-right: 4px;
cursor: pointer;
}

/* Champ de connexion */

#connectionContainer{
	height: 20px;
	margin-left: 35px;
	margin-top: 15px;
	position: absolute;
	font-weight: bold;
}
#connectionContainer a{
    color: #333333;
	display: block;
	margin-top:5px;
}
#identificationContainer a{
	display: block;
	margin-top:5px;
}

.connectText{
	margin-left: 20px;
}
.grey_link{
	color: #333333;
	margin-top:5px;
    display: block;
}
.grey_link_line{
	color: #333333;
	margin-top:5px;
}

.background{
    margin-left: auto;
    margin-right: auto;
    width:900px;
}

/*ShowList: liste d'aperçus d'articles*/

.showList_content table tr td{
	vertical-align: top;
}
.showList_intro a{
	color: <RENDER_VALUE what="variation>globalText"/>;
}
.oneArticle_contents{
	width: 370px;
	height: 105px;
	margin-top: 25px;
	margin-right: 25px;
	float: left;
}
.oneArticle_image{
	width: 102px;
	height: 102px;
}
.oneArticle_image img{
	width: 100px;
	height: 100px;
	margin-left: 1px;
}
.oneArticle_descContainer{
	height: 90px;
	overflow: auto;
}
.oneArticle_summary{
	color: <RENDER_VALUE what="variation>descriptions"/>;	
}
.oneArticle_title a{
	font-weight: bold;
	font-size: 110%;
	color: #333333;	
}

/*NEWSLETTER*/

/*Newsletter new suscribe*/
.news_subscribe{
	font-weight: bold;
	font-size: 110%;
}
.news_subscribe a{
	color: #333333;
}
.nl_chooseList{
	margin-top: 15px;
	font-weight: bold;
}
.nl_autoChoosenList{
	margin-top: 15px;
	font-weight: bold;
}
.nl_autoChoosenList_name{
	margin-top: 5px;
	font-weight: bold;
}
.nl_autoChoosenList_desc{
	margin-left: 5px;
	font-style: italic;
	width: 300px;
}
.news_unsubscribe{
	font-style: italic;
	margin-top: 5px;
}
.news_unsubscribe a{
	color: #333333;
}
.newsList_intro{
}
.newsList_title{
	font-size: 110%;
	margin-top: 10px;
}
.newsList_list{
	margin-top: 10px;
}
.newsList_list a{
	font-weight: bold;
	color: #333333;
	margin-top: 3px;
}
.nl_oneMonth_name{
	font-style: italic;
	color: #333333;
}
.nl_list_oneLine{
	margin-top: 5px;
}
.nl_diffusionList{
		font-weight: bold;
		margin-bottom: 10px;
}
.nl_Sub_mailAddress{
	font-weight: bold;
}
.nl_Sub_mailAddress input{
	width: 180px;
}
.nl_chooseYourList{
	margin-top: 10px;
	font-weight: bold;
	color: #660033;
}
.nl_subscribeConfirmed{
	font-size: 120%;
	font-style: italic;
	font-weight: bold;
}
.nl_errorMessage{
	font-weight: bold;
	font-style: italic;
	color: #660000;
	font-size: 110%;
	margin-bottom: 10px;
}
	/*Newsletter: show*/
.nl_backToList {
	margin-top: 20px;
	width: 100%;
	text-align: center;
}
.nl_backToList a{
	font-weight: bold;
	color: #333333;
}
	/*Newsletter: unsubscribe*/
.nl_unsub_intro{
	margin-top: 10px;
}
.nl_unsub_mailAddress{
	margin-top: 10px;
	font-weight: bold;
	color: #333333;
}
.nl_unsub_mailAddress input{
	width: 200px;
}
.nl_unsub_submit{
	margin-top: 5px;
}

 /* Page de mentions légales */
 .legacyContainer{
 }
  
	/* NOTIFICATIONS */

.notif_container{
	text-align: center;
	width: 100%;
	color: #333333;
	font-size: 110%;
}
.notif_container div{
	margin-left: auto;
	margin-right: auto;
}

.notif_container ul{
	text-align: left;
	margin-top: 15px;
	margin-bottom: 0px;
}
.notif_container li{
	text-align: left;
	margin-top: 10px;
}
	/*notification alert container*/
.notif_container_alert{
	text-align: center;
	width: 100%;
	color: #660000;
	font-size: 110%;
}
.notif_container_alert a{
	color: #660000;
}
.notif_container_alert ul{
	text-align: left;
	margin-top: 15px;
	margin-bottom: 0px;
}
.notif_container_alert li{
	text-align: left;
	margin-top: 10px;
}
.notif_container_alert div{
	margin-left: auto;
	margin-right: auto;
}

/*Small*/
.notifS_top{
    background: transparent url(/images/template/notifS_top.png) no-repeat center top;
	height: 20px;
	width: 200px;
}
 .notifS_middle{
    background: transparent url(/images/template/notifS_middle.png) repeat-y center top;
	width: 200px;
}
.notifS_bottom{
    background: transparent url(/images/template/notifS_bottom.png) no-repeat center top;
	height: 20px;
	width: 200px;
}
.notifS_content{
	width: 180px;
	margin-left: auto; 
	margin-right: auto;
}
.notifS_content table{
	margin-left: auto; 
	margin-right: auto;
}
.notifS_content table.form_checkbox, .notifS_content table.form_radiobox{
	margin-left: 0px; 
	margin-right: 0px;
}
.notifS_top h3{
	padding-top: 5px;
	font-size: 110%;
}
/*medium*/
.notifM_top{
    background: transparent url(/images/template/notifM_top.png) no-repeat center top;
	height: 20px;
	width: 400px;
}
 .notifM_middle{
    background: transparent url(/images/template/notifM_middle.png) repeat-y center top;
	width: 400px;
}
.notifM_bottom{
    background: transparent url(/images/template/notifM_bottom.png) no-repeat center top;
	height: 20px;
	width: 400px;
}
.notifM_content{
	width: 380px;
	margin-left: auto; 
	margin-right: auto;
}
.notifM_content table{
	margin-left: auto; 
	margin-right: auto;
}
.notifM_content table.form_checkbox, .notifM_content table.form_radiobox{
	margin-left: 0px; 
	margin-right: 0px;
}
.notifM_top h3{
	padding-top: 5px;
	font-size: 110%;
}
/*Large*/
.notifL_top{
    background: transparent url(/images/template/notifL_top.png) no-repeat center top;
	height: 20px;
	width: 600px;
}
 .notifL_middle{
    background: transparent url(/images/template/notifL_middle.png) repeat-y center top;
	width: 600px;
}
.notifL_bottom{
    background: transparent url(/images/template/notifL_bottom.png) no-repeat center top;
	height: 20px;
	width: 600px;
}
.notifL_content{
	width: 580px;
	margin-left: auto; 
	margin-right: auto;
}
.notifL_content table{
	margin-left: auto; 
	margin-right: auto;
}
.notifL_content table.form_checkbox, .notifL_content table.form_radiobox{
	margin-left: 0px; 
	margin-right: 0px;
}
.notifL_content table.form_checkbox, .notifL_content table.form_radiobox{
	margin-left: 0px; 
	margin-right: 0px;
}
.notifL_top h3{
	padding-top: 5px;
	font-size: 110%;
}
/*Extra large*/
.notifXL_top{
    background: transparent url(/images/template/notifXL_top.png) no-repeat center top;
	height: 20px;
	width: 800px;
}
 .notifXL_middle{
    background: transparent url(/images/template/notifXL_middle.png) repeat-y center top;
	width: 800px;
}
.notifXL_bottom{
    background: transparent url(/images/template/notifXL_bottom.png) no-repeat center top;
	height: 20px;
	width: 800px;
}
.notifXL_content{
	width: 780px;
	margin-left: auto; 
	margin-right: auto;
}
.notifXL_content table{
	margin-left: auto; 
	margin-right: auto;
}
.notifXL_content table.form_checkbox, .notifXL_content table.form_radiobox{
	margin-left: 0px; 
	margin-right: 0px;
}
.notifXL_top h3{
	padding-top: 5px;
	font-size: 110%;
}
 
 /* Page de contact */
 
#contact{
	width: 900px;
	text-align: left;
	margin-left: auto; 
	margin-right: auto;
	margin-top: 20px;
}
#contact table td{
	vertical-align: top;
}
 #contactData_container{
	margin-top: 10px;
 }
 #contactData_container h3{
	font-size: 115%;
 }
.contact_intro{
	text-align: left;
	width: 300px;
}
.contact_address{
	width: 200px;
	text-align: left;
}
.contact_phone{
	width: 200px;
	text-align: left;
}
.contact_mail{
	width: 200px;
	text-align: left;
}
.contact_mail a{
	color: <RENDER_VALUE what="variation>globalText"/>;
}
#sendMailForm_container{
	width: 400px;
	margin-left: 100px;
}
.sendMail_IEmargin{
	height: 25px;
}

#sendMailForm_container table{
	width: 340px;
	text-align: center;
	margin-top: 14px;
	margin-left: auto;
	margin-right: auto;
}
#sendMailForm_container div{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.sendmailContent{
	padding-left: 0px;
}
.contactMail_link{
	color: <RENDER_VALUE what="variation>contactColor"/>;
}
.mailContent{
	width: 340px;
	height: 140px;
}
.contact_submitCaptcha{
	text-align: center;
	margin-top: 30px;
}
.sendmailInput input {
	width: 150px;
 }

/*CAPTCHA*/
.captchaText{
}
.captcha_container{
	position:relative;
	width:240px;
	height:40px;
	margin-top:5px;
}
.captcha_code{
	position:absolute;
	left:0;
	top:0;
	width:130px;
}
.captcha_reload{
	position:absolute;
	left:210px;
	top:0;
	width:30px;
	cursor:pointer;
}
.captcha_input{
	position:absolute;
	left:140px;
	top:0;
	width:60px;
}
.captcha_input input{
	border: 1px solid #333333;
}
.captcha_code img{
	border: 1px solid #333333;
	width:130px;
	height:30px;
}


/*Legacy menus*/
#copyrights{
	padding-top: 7px;
    color : #333333;
    text-align:center;
    font-size:90%;
	font-weight: bold;
	clear: both;
}

#copyrights a{
    color : #333333;
}

/*GENERAL ALL TEMPLATES*/

h1{ /* Grand titre des pages */
    color: #333333;
    font-weight: bold;
    font-size: 140%;
    text-align: left;
	padding-top: 30px;
	margin-top: inherit;
	margin-bottom: ;
}

h2{ /* Petit titre des pages */
    color: #333333;
    font-weight: bold;
    font-size: 120%;
    line-height: 16px;
    text-align: left;
    text-indent: 15px;
}
h3{
	margin-bottom: 0;
}

p{ /* Paragraphes */
    font-weight: normal;
    line-height: 16px;
    text-align: left;
    text-indent: 2px;
}
	#search_menu{
	background: transparent url(/images/template/variation/bg_search.png) repeat-y 0px top;
	margin-left: 32px;
	height: 24px;
	}
	#search_content{
	margin-left: 20px;
	padding-top: 4px;
	font-weight: bold;
	}

.border-top{
border-top: 1px solid #333333;
}
.border-right{
border-right: 1px solid #333333;
}
.border-bottom{
border-bottom: 1px solid #333333;
}
.border-left{
border-left: 1px solid #333333;
}
.alert-top{
border-top: 1px solid #660000;
}
.alert-left{
border-left: 1px solid #660000;
}
.alert-right{
border-right: 1px solid #660000;
}
.alert-bottom{
border-bottom: 1px solid #660000;
}
.halfSize{
    width:50%;
}
.width_20px{
	width: 13px;
}
.margin_5px{
margin-left: 5px;
margin-right: 5px;
margin-top: 0px;
margin-bottom: 0;
}
.hideLink{
  text-decoration:inherit;
  color:inherit;
}
input, textarea{
	border: 1px solid #333333;
}
.fourFifth{
font-size:80%;
font-style: italic;
}
.table_description{
font-style: italic;
color: #333333;
font-size: 80%;
        }
a:link, a:visited, a:hover, a:active {
}

.templateColor{
    color: <RENDER_VALUE what="variation>color"/>;
}

.aLink{
    cursor: pointer;
}

.falseLink{
    color: <RENDER_VALUE what="variation>linksColor"/>;
    cursor: pointer;
    text-decoration: underline;
}

img { 
    border: 0;
}
</content>