/* Shopsailors' CSS File | Template : name@template | Variation : name@variation | Value : name@value */
/* UTF-8 Check : à  ç  é  è  */

/*Template.rf.xml classes*/
*{outline:0 none}
body{
    background: hex@background url(/images/template/gradient_white.png) repeat-x center 100px ;
    font-family: Arial,sans-serif;
    font-size: 12px;
    color: #333333;
    padding: 0;
    margin: 0;
    color:#666;
}

#header{
    background: transparent url(/images/template/bg_head.png) repeat-x bottom center;
    height: 100px;
}
#header #logoContainer{width: 950px;margin: 0 auto;}

#tmp_background{
    background: transparent url(/images/template/bg_sides_content.png) repeat-y top center;
    width: 1126px;
    margin: 0 auto;
    padding-left: 1px;
}
#tmp_content{background-color: #fcfcfc;width: 949px;margin: 0 auto;}

#menu_bar{
    width: 949px;
    margin: -1px 0 0 0;
}
#menu_bar td.part1{border-right: 1px solid #999}
#menu_bar td.part2{width:170px;}

hr.menu_borderBottom{border: 0 none;height: 1px;width: 949px;background-color: #999;margin-top: -1px}

#tmp_mainContent{
    width: 930px;
    margin: 10px auto 0 auto;
}
#tmp_mainContent a{color: #666}
#tmp_mainContent a:hover{color: #333}
/* Menu and sub menus */

/*Main level*/
.tmp_menu1{float: left;margin-bottom: -4px}
.menu_container{
    position: relative;
    z-index: 100;
}
.menu_container div{
    position: relative;
}

/* New menu */
.one_menu{
    margin:0;
    padding:0;
    list-style-type:none;
    display:inline;
}
.one_menu li{
    float:left;    
}
.one_menu .menu_entry_img{
    overflow:hidden;
}
.one_menu li img.hover{
    display:none;
}

.one_menu li:hover img.hover{
    display:inline-block;
}
.one_menu li:hover img.notHover{
    display:none;
}
.with_submenus .submenus{
    position:absolute;
    margin:-2px 0 0 -1px;
    padding:0;
    list-style-type:none;
    visibility:hidden;
    width:200px;
    border-left: 1px solid #b5b5b5;
    border-right: 1px solid #b5b5b5;
}

.with_submenus .submenus li{
    width: 100%;
    padding: 2px 10px 2px 2px;
    margin: 0 5px 0 0;
    background-color: #f2f2f2;
    border-bottom: 1px solid #b5b5b5;
    text-align:left;
}
.with_submenus .submenus li a{
    color: #333333;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}
.with_submenus .submenus li a:hover{
    color: hex@text_color;
    text-decoration:underline;
}
/* End of new menu*/

/* connexion */
#connexion_topTitle{width: 100%;border-bottom: 1px solid #999;
    background-color: #e9e9e9;}
#connexionMainContainer{width: 170px;}

#connectionContainer{
    text-align: center;
    padding: 2px;
}
#connectionContainer a:hover{text-decoration: underline;}
#connectionContainer a{
    color: #666;
    font-size: 11px;
    text-decoration: none;
}
#topTitle{
    padding: 2px 2px 2px 5px;
    border-right: 1px solid #999;
    
}
h1.tmp_topTitle{
    font-size: 12px;
    font-weight: normal;
}

/* flags */
.pictoFlagsContainer{
    text-align: right;
    height: 20px;
    right: 0;
    padding-top: 4px;
    position: absolute;
}
.pictoFlags{
    width: 20px;
    margin-right: 4px;
    cursor: pointer;
}

/*SEARCHER*/

#searcher{
    margin-right: 5px;
    padding: 0 5px;
    height: 26px;
    margin-bottom: -1px;

}
.searcher_imgContainer{display: inline-block;}
#searcher input.searcher_image{
    vertical-align:middle;
    border: none;
    margin-top: 3px;
    display: inline-block;
}
#searcher input.searcher_input{
    vertical-align:middle;
    border: none;
    background-color: transparent;
    width: 130px;
    color: #666;
    font-size: 11px;
    font-style: italic;
    display: inline-block;
    margin-top: 5px;
}

/*Seacher result - navigator pages*/
#tmp_content .resultsPages{
    margin-left: -10px;
    margin-bottom: -21px;
    width: 939px;
}
/*Legacy menu*/
#tmp_legacy{
    padding: 5px;
    text-align:left;
    font-size:10px;
    clear: both;
    border-top: 1px solid rgba(0,0,0,0.2);
    background-color: #e9e9e9;
    margin-top: 20px;
}


#tmp_legacy a{
    color: #666;
    margin-top: 5px;
}


/*general: all template*/

h1.bodyTitle{ /* Grand titre des pages */
    color: #666;
    font-weight: normal;
    font-size: 140%;
    text-align: left;
    margin: 10px -10px 10px -10px;
    padding-left: 10px;
    padding-bottom: 2px;
    border-bottom:1px solid #b5b5b5;
}

h1{ /* Grand titre des pages */
    color: #666;
    font-weight: bold;
    font-size: 140%;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2{ /* Petit titre des pages */
    font-weight: bold;
    font-size: 120%;
    line-height: 16px;
    text-align: left;
    text-indent: 0px;
}
h3{
    margin-bottom: 0;
}

hr{border: none;height: 1px;margin:0;}
hr.white{background-color: #fff}
hr.grey{background-color: #b5b5b5}

input, textarea{border: 1px solid #666666;}


/* NOTIFICATIONS */
#tmp_content #connection_mainContainer .notifM_content table td.partTitle,
#tmp_content #connection_mainContainer .notifM_content table td.captchaContainer,
#tmp_content #connection_mainContainer .notifM_content table td.inputContainer
{background-color: transparent}


/*FORUM special classes*/
#tmp_content #forum_menu{width: 949px;margin:-10px 0 0 -10px}
#tmp_content #forum_show .breadcrumbs{
    border: 1px solid #ccc;
    background-color: #eee;
    margin-bottom: 5px;
    padding: 2px 4px
}
#tmp_content #forum_show .breadcrumbs,
#tmp_content #forum_show .breadcrumbs a{color: hex@text_color;}
#tmp_content .forum_oneCat{
    background-color: #fafafa;
    width: 949px;
    margin-left: -10px;
}
#tmp_content .forum_oneCat:hover{background-color: #f6f6f6;}
#tmp_content #forumCat_createTopic a:hover{color:hex@text_color;text-decoration: underline}


/*newsPage*/
#tmp_content #newsPage ul{width: 949px;margin-left: -10px}
#tmp_content #newsPage table{}
#tmp_content #newsPage table td{padding-top: 5px;padding-bottom: 5px;}

/*article list*/
#tmp_content .oneArticle_title a{color: hex@text_color}
#tmp_content #newsPage .newsTitle a{color: hex@text_color;}
#tmp_content .forum_oneCat h2{color: hex@text_color}

/*Articles*/
#tmp_mainContent .freePages_container a{color: inherit;text-decoration: inherit}
#tmp_mainContent .freePages_container a:hover{color: inherit;text-decoration: underline}