<?xml version="1.0"?>
<content>
/* Shopsailors' CSS File | Template : <RENDER_VALUE what="template>name"/> | Variation : <RENDER_VALUE what="variation>name"/> 
CSS for shop contents only*/
/* UTF-8 Check : à  ç  é  è  */

/*Page de panier en tableau*/

.alertCart{
	color: #660000;
	font-size: 110%;
	font-weight: bold;
}
.shop_tableCart table{
	color: <RENDER_VALUE what="variation>globalText"/>;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.shop_tableCart input{
width: 40px;
}
.shop_cartProduct_name a{
	color: <RENDER_VALUE what="variation>globalText"/>;
}
.shop_tableCart td{
padding: 4px;
}
.bg_table{
background: transparent url(/images/template/bg_table.png) repeat center top;
}
.shop_tableCart th{
	color: <RENDER_VALUE what="variation>title"/>;
	padding: 4px;
}
.shop_tableCart th{
height: 30px;
}
.shop_headerText{
}
.shop_contentText{
	text-align: left;
}
.shop_border-top{
border-top: 1px solid <RENDER_VALUE what="variation>borderColor"/>;
}
.shop_border-right{
border-right: 1px solid <RENDER_VALUE what="variation>borderColor"/>;
}
.shop_border-bottom{
border-bottom: 1px solid <RENDER_VALUE what="variation>borderColor"/>;
}
.shop_border-left{
border-left: 1px solid <RENDER_VALUE what="variation>borderColor"/>;
}
.shop_table_preview{
	width: 60px;
	height: 60px;
}
.shop_totalCart{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.shop_totalCart img{
	margin-top: 5px;
	cursor: pointer;
}
.shop_total_textClass{
	font-size: 110%;
	text-align: right;
	font-weight: bold;
	color: #ffffff;
}
.shop_totalCartContainer{
	height: 80px;
	text-align: center;
	margin-top: 20px;
}
.shop_update{
	width: 80px;
	height: 60px;
	margin-left: 455px;
	text-align: center;
	color: <RENDER_VALUE what="variation>globalText"/>
}
.shop_update img{
	margin-top: 2px;
	width: 26px;
	cursor: pointer;
	text-align: center;
}
.shop_total_text{
	color: <RENDER_VALUE what="variation>globalText"/>;
	font-weight: bold;
	font-size: 130%;
}
.shop_pictoTable img, .shop_pictoTable input{
	width: 26px;
	cursor: pointer;
}
.shop_pictoCell{
	width: 30px;
}

.cart_goToCommand {
	color: <RENDER_VALUE what="variation>globalText"/>;
	font-size: 110%;
	font-weight: bold;
}

.cart_goToCommand input{
    height:35px;
    width:auto;
}

.cart_changeShipMode{
	text-align: left;
	vertical-align: top;
}
.cart_changeShipMode a{
	color: #ffffff;
	font-weight: bold;
}

/*Command confirm bill and delivery addresses*/
.command_billingContainer{
	width: 200px;
	margin-top: 20px;
	float: left;
}
.command_billingContainer input texatrea{
}
.command_billingContainer h3{
	margin: 0px;
	text-align: center;
	color: <RENDER_VALUE what="variation>globalText"/>;
}
.billing_bg_top{
	background: transparent url(/images/template/billing_bg_top.png) no-repeat center top;
	height: 18px;
	width: 204px;
}

.billing_bg_middle{
	background: transparent url(/images/template/billing_bg_middle.png) repeat-y center top;
	width: 204px;
}

.billing_bg_bottom{
	background: transparent url(/images/template/billing_bg_bottom.png) no-repeat center top;
	height: 18px;
	width: 204px;
}

.command_billing_name{
	margin-top: 10px;
	margin-left: 6px;
}
.command_billing_name input{
	border: 1px solid #333333;
}
.command_billing_address{
	margin-top: 10px;
	margin-left: 6px;
}
.command_billing_address textarea{
	border: 1px solid #333333;
}
.command_billing_zipCode{
	margin-top: 10px;
	margin-left: 6px;
}
.command_billing_zipCode input{
	border: 1px solid #333333;
}
.command_billing_city{
	margin-top: 10px;
	margin-left: 6px;
}
.command_billing_city input{
	border: 1px solid #333333;
}
.delivery_title{
	padding-top: 15px;
}
.command_deliveryRadio{
	margin-top: 5px;
}
.command_delivery table{
	margin: 0px;
	text-align: left;
}
.command_delivery table td{
	margin: 0px;
	padding: 0px;
}
.command_paymentContainer{
	margin-top: 20px;
	padding-left: 20px;
	width: 600px;
	float: left;
}
.command_paymentContainer_legacy{
	margin-top: 20px;
	padding-left: 20px;
	width: 600px;
}
.command_payment_title{
	color: <RENDER_VALUE what="variation>globalText"/>;
	margin: 0;
	text-align: center;
}
.payment_oneMode_title{
	text-align: center;
	font-weight: bold;
	margin-top: 10px;
}
.payment_oneMode_content{
	text-align: center;
}
.payment_modeContainer{
	width: 590px;
}
.payment_modeDescription{
	width: 300px;
	overflow: auto;
	vertical-align: top;
}
.command_paymentTable table{
	text-align: left;
	margin-left: auto; 
	margin-right: auto;
}
.payment_modeName{
	font-weight: bold;
	vertical-align: top;
}
.command_paymentTable img{
	width: 50px;
}
.payment_bg_top{
	background: transparent url(/images/template/payment_bg_top.png) no-repeat center top;
	height: 18px;
	width: 604px;
}
.payment_bg_bottom{
	background: transparent url(/images/template/payment_bg_bottom.png) no-repeat center top;
	height: 18px;
	width: 604px;
}
.payment_bg_middle{
	background: transparent url(/images/template/payment_bg_middle.png) repeat-y center top;
	width: 604px;
}

/*brea	dcrumbs*/

#shop_navigator{
	width: 400px;
	padding-top: 2px;
	color: <RENDER_VALUE what="variation>globalText"/>;
}
.shop_arboLink{
	color: <RENDER_VALUE what="variation>navigatorLinkColor"/>;
}
.shop_arboText{
	color: <RENDER_VALUE what="variation>navigatorLinkColor"/>;
}
.breadcrumbSisters{
	display: block;
}
.bc_sisters, .bc_sisters a, .bc_sameLevelText{
	color: #333333;
	display:block;
}
.bc_sister_container{
	display:none;
}
#shop_emptyCategory{
	background: transparent url(/images/shared/default/shop_empty_category.png) no-repeat center top;
	width: 320px;
	height: 255px;
	margin-top: 30px;
	margin-left: 30px;
}
.shop_emptyCategoryText{
	width: 240px;
	height: 215px;
	color: white;
	font-size: 120%;
	font-weight: bold;
	margin-left: 50px;
	padding-top: 60px;
}

/*Navigateur de pages*/

.pageNavigator{
	text-align: center;
	clear: both;
	color: <RENDER_VALUE what="variation>globalText"/>;
}
.pagesNumbers a{
	color: <RENDER_VALUE what="variation>globalText"/>;
}
.pageNavigator img{
	height: 25px;
}
.pageNavigator table{
	text-align: center;
	clear: both;
	margin-left: auto;
	margin-right: auto;
}

/*active category */

.bg_active_category{
	background: transparent url(/images/template/bg_active_category.png) no-repeat center top;
	width: 650px;
	height: 50px;
	margin-left: 50px;
	color:  <RENDER_VALUE what="variation>globalText"/>;
}
.active_category_preview img{
    height: 50px;
	width: 50px;
	position: absolute;
}
.active_category_descriptionContainer{
	margin-left: 5px;
	height: 42px;
	width: 650px;
}
.active_category_describe{
	padding-top: 2px;
	height: 42px;
	overflow: auto;	
}

/*sub_category */
.selectAcategory{
	font-size: 110%;
	font-weight: bold;
	margin-top: 20px;
	color:  <RENDER_VALUE what="variation>title"/>;
}

.bg_subcategory{
	background: transparent url(/images/template/bg_subcategory.png) no-repeat center top;
	width: 370px;
	margin-top: 10px;
	margin-right: 20px;
	height: 135px;
	color:  <RENDER_VALUE what="variation>globalText"/>;
	float: left;
}
.subcategory_image{
    height: 100px;
	width: 100px;
}
.subcategory_name a{
	color:  <RENDER_VALUE what="variation>globalText"/>;
	font-size: 110%;
	font-weight: bold;
}
.subcategory_image img{
    height: 100px;
	width: 100px;
	margin-left: 1px;
	margin-top: 1px;
}
.subcategory_descriptionContainer{
	margin-left: 5px;
	height: 60px;
	width: 230px;
	overflow: auto;	
	margin-top: 2px;
}
.subcategory_describe{
}

/*Liste de produits en ligne1*/

.navigator_list{
	background: transparent url(/images/template/list.png) no-repeat center top;
	width: 365px;
	height: 120px;
	color:  <RENDER_VALUE what="variation>globalText"/>;
	margin-top: 10px;
	margin-right: 40px;
	float: left;
}

.navigator_preview{
    height: 100px;
	width: 100px;
	vertical-align: top;
}

.navigator_preview img{
    height: 100px;
	width: 100px;
}

.descriptionContainer{
	margin-left: 2px;
	height: 65px;
	width: 246px;
	overflow: auto;
	vertical-align: top;
}

.nameRef_container{
	
}
.navigator_name a{
	color:  <RENDER_VALUE what="variation>globalText"/>;
	font-weight: bold;
	font-size: 110%;
	margin-right: 3px;
	margin-top: 2px;
}
.navigator_reference{
	font-style: italic;
}
.navigator_describe{
	margin-top: 2px;
}
.navigator_property_name{
	font-weight: bold;
}
.navigator_property_values{
}
.navigator_price{
	text-align: center;
	width: 130px;
	margin-left: 102px;
	font-weight: bold;
	font-size: 120%;
	margin-top: 5px;
	position: absolute;
}
.pictosList{
	margin-left: 5px;
	vertical-align: top;
}
.pictosList img{
	width: 25px;
	display: block;
	cursor: pointer;
	margin-top: inherit;
	padding-top: inherit;
}

/*Liste de produits en tableau1*/

.navigator_table{
	margin-top: 10px;
	color:  <RENDER_VALUE what="variation>globalText"/>;
	margin-left: auto;
	margin-right: auto;
}
.navigator_table th{
	text-align: center;
}
.border-top{
border-top: 1px solid <RENDER_VALUE what="variation>borderColor"/>;
}
.border-right{
border-right: 1px solid <RENDER_VALUE what="variation>borderColor"/>;
}
.border-bottom{
border-bottom: 1px solid <RENDER_VALUE what="variation>borderColor"/>;
}
.border-left{
border-left: 1px solid <RENDER_VALUE what="variation>borderColor"/>;
}
.values_title{
}
.navigator_table1 th{
	color: <RENDER_VALUE what="variation>globalText"/>;
}
.navigator_table_name a{
	font-weight: bold;
	color: <RENDER_VALUE what="variation>globalText"/>;
}
.navigator_table_price{
	font-weight: bold;
	text-align: right;
}
.navigator_table_stock{
	width: 50px;
	text-align: center;
}
.navigator_table_reference a{
	font-style: italic;
	color: <RENDER_VALUE what="variation>globalText"/>;
}
.table_preview{
	width: 42px;
	height: 42px;
}
.table_preview img{
	width: 40px;
}
.picto_table img{
	width: 26px;
}
.picto_cell{
	width: 80px;
}
/*Liste de produits en miniature1*/

.navigator_miniature{
	background: transparent url(/images/template/miniature.png) no-repeat left top;
	color:  <RENDER_VALUE what="variation>globalText"/>;
	height: 340px;
	width: 190px;
	float: left;
	margin-top: 10px;
	margin-left: 15px;
}
.navigator_preview_miniature{
    height: 158px;
	width: 158px;
	margin-left: 2px;
	padding-top: 2px;
}

.navigator_preview_miniature img{
    height: 154px;
	width: 154px;
}

.descriptionContainer_miniature{
	margin-top: 8px;
	margin-left: 6px;
	width: 150px;
	height: 158px;
	overflow: auto;
}
.navigator_name_miniature a{
	color:  <RENDER_VALUE what="variation>globalText"/>;
	font-weight: bold;
	font-size: 120%;
	margin-right: 3px;
	margin-top: 2px;
}
.navigator_property_name_miniature{
	font-weight: bold;
}
.navigator_property_values_miniature{
overflow: hidden;
	margin-top: 1px;
}
.navigator_price_miniature{
	font-weight: bold;
	font-size: 120%;
}
.pictosMiniature{
	position: absolute;
	margin-left: 155px;
	margin-top: 23px;
}
.pictosMiniature img{
	display: block;
	cursor: pointer;
	margin: inherit;
	padding: inherit;
}


/*Page details*/

.product_details1{
	margin-top: 10px;
	width: 640px;
	color: <RENDER_VALUE what="variation>globalText"/> 
}
.product_details1 table{
	vertical-align: top;
}
.details_previewContainer {
	width: 224px;
	height: 224px;
	vertical-align: top;
}
.main_preview{
	background: transparent url(/images/template/product_main_preview.png) no-repeat center top;
	width: 224px;
	height: 224px;
}
.main_preview img{
	width: 222px;
	height: 222px;
	margin-top: 1px;
	margin-left: 1px;
}
.details_descriptionContainer {
	width: 454px;
	margin-left: 20px;
}
.details_descriptionContainer  img{
	margin-top: 10px;
}
.bg_details_top{
}
.bg_details_middle{
	width: 454px;
}
.bg_details_middle div{
	width: 454px;
	margin-left: 10px;
}
.details_product_descriptionTitle{
	font-size: 110%;
	font-weight: bold;
	vertical-align: top;
	
}
.details_pictoContainer img{
	width: 30px;	
}
.details_pictoContainer_preview img{
	width: 30px;	
}
/* Other preview*/
#product_pictures img{
	width: 40px;
	border: 1px solid <RENDER_VALUE what="variation>borderColor"/>;
}

/*navigator_sameCategory : aperçu des produit de la categorie dans la page de produit*/

.navigator_sameCategory{
	color: <RENDER_VALUE what="variation>globalText"/>;
	width: 420px;
	height: 110px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.navigator_sameCategory table {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	text-align: center;
	vertical-align: top;
}
.navigator_sameCategory a{
	font-size: inherit;
	font-weight: inherit;
	height: 5px;
	color: #333333;
}
.navigator_inSameCategory {
	font-size: 110%;
	font-weight: bold;
	padding-top: 5px;
}
.navigator_productCategory a{
	color: <RENDER_VALUE what="variation>globalText"/>;
	margin-right: 5px;
	margin-top: 5px;
	font-size: inherit;
	font-weight: inherit;
}
.navigator_productCategory img{
	width: 40px;
	height: 40px;
}
.navigator_productCategory{
	vertical-align: top;
}
.navigator_inSameCategory_pictos{
	vertical-align: middle;
}
 /* Message panier vide */
 
 #empty_cart_top{
	background: transparent url(/images/template/empty_cart_top.png) no-repeat center top;
	width: 352px;
	height: 14px;
 }
 #empty_cart_middle{
	background: transparent url(/images/template/empty_cart_middle.png) repeat-y center top;
	width: 352px;
 }
 #empty_cart_bottom{
	background: transparent url(/images/template/empty_cart_bottom.png) no-repeat center top;
	width: 352px;
	height: 14px;
 }
#emptyCart_container{
	margin-top: 40px;
	text-align: center;
	width: 100%;
	color: #333333;
	font-size: 120%;
	font-weight: bold;
}
#emptyCart_container div{
	margin-left: auto;
	margin-right: auto;
}

#emptyCart_content{
	width: 320px;
}


/*Searcher: category results*/

.catResult_container{
	margin-top: 10px;
}
.catResult_name {
	vertical-align: top;
}
.catResult_name a{
	font-weight: bold;
	color: #ffffff;
}
.catResult_pictos{
	clear: both;
	margin-top: 4px;
}
.catResult_image{
	vertical-align: top;
}
.catResult_image img{
	height: 60px;
	margin-right: 5px;
	border: 1px solid <RENDER_VALUE what="variation>borderColor"/>;
}

/*Searcher: product results*/

.prodResult_container{
	margin-top: 10px;
}
.prodResult_description{
	vertical-align: top;
}
.prodResult_name a{
	font-weight: bold;
	color: #ffffff;
}
.prodResult_reference a{
	text-decoration: none;
	font-style: italic;
	color: #ffffff;
}
.prodResult_pictos{
	vertical-align: top;
}
.productResult_price{
	font-weight: bold;
}
.prodResult_pictos img{
	margin-left: 5px;
}
.prodResult_image{
	vertical-align: top;
}
.prodResult_image img{
	height: 60px;
	margin-right: 5px;
	border: 1px solid <RENDER_VALUE what="variation>borderColor"/>;
}

/*SELECT SHIP MODE*/

.shipMode_container{
	text-align: center;
}
.shipMode_chooseMode{
	font-style: italic;
}
.shipMode_container table{
	margin-top: 5px;
	margin-left: auto; 
	margin-right: auto;
	text-align: center;
}
.shipMode_container td{
background: transparent url(/images/template/bg_table.png) repeat center top;
}
.shipMode_input{
	vertical-align: middle;
}
.shipMode_image{
	vertical-align: top;
}
.shipMode_image img{
	vertical-align: top;
	height: 80px;
	width: 100px;
}
.shipMode_nameDesc_container{
	text-align: left;
	padding-left: 4px;
	vertical-align: top;
	height: 80px;
	overflow: auto;
}
.shipMode_nameDescCome_container{
	text-align: left;
	padding-left: 4px;
	vertical-align: top;
}
.shipMode_name{
	font-weight: bold;
}
.shipMode_description{
	margin-top: 4px;
}
.shipMode_price{
	vertical-align: middle;
	font-weight: bold;
	padding-left: 2px; 
	padding-right: 2px;
	text-align: right;
}
.shipMode_address{
	font-weight: bold;
	margin-top: 4px;
}
.shipMode_validate{
	margin-top: 10px;
	text-align: center;
}
.shipMode_noTable{
	margin-top: 40px;
}
.shipMode_severalAddress{
	text-align: left;
	margin-top: 10px;
	font-weight: bold;
	cursor: pointer;
}
.shipMode_severalAddress_price{
	margin-top: 10px;
	text-align: center;
}
.shipMode_listBox{
	margin-top: 5px;
}
.shipMode_cost{
	margin-top: 10px;
}
	/*one shipper*/
.shipMode_image_oneShipper{
	margin-top: 10px;
}
.shipMode_image_oneShipper img{
	height: 80px;
	width: 100px;
}
.shipMode_name_oneShipper{
	margin-top: 10px;
	font-weight: bold;
}
	/* discount mentions */
.ship_discountContainer div{
	text-align: center;
	margin-left: auto; 
	margin-right: auto;
}
.ship_discountIntro{
	font-weight: bold;
	margin-top: 10px;
}
.ship_discountApplied{
	margin-top: 10px;
}
.ship_discountApplied div{
	text-align: center;
	margin-right: 10px;
	margin-top: 2px;
	font-weight: bold;
}
.ship_discountMentions1{
	font-style: italic;
	margin-top: 15px;
	text-align: left;
	margin-left: auto; 
	margin-right: auto;
}

.ship_discountMentions2{
	font-style: italic;
	margin-top: 5px;
	text-align: left;
	margin-left: auto; 
	margin-right: auto;
}
</content>