<?xml version="1.0"?>
<content>
/* Shopsailors' CSS File | Template : <RENDER_VALUE what="template>name"/> | Variation : <RENDER_VALUE what="variation>name"/> */
/* UTF-8 Check : à  ç  é  è  */
body{
	background: #ffffff url(/images/template/variation/bg_bg.png) repeat-x center top;
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
    font-family: Arial,sans-serif;
    font-size: 12px;
    color: #000000;
	margin-top:0;
	padding-top: 0;
	margin-bottom: 0;
}
.header{
	width: 900px;
	padding-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
}
.logo{
	margin-right: 25px;
	text-align: left;
}
.logo img{
    height:80px;
    width:240px;
}
.topTitle{
    text-align:left;
    font-size:120%;
    color:  <RENDER_VALUE what="variation>topTitle"/>;
    width:100%;
	padding-top: 30px;
	margin-bottom: 0;
}

#mainContainer{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}
.blank{
/*div servant à régler la position du menu sous IE*/
	height: 28px;
	margin-left: auto; 
	margin-right: auto;
}
.menu1{
	text-align: right;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.blackBottom{
	background: #000000 repeat center bottom;
	width: 100%;
	height: 140px;
	margin-bottom: 0px;
}

/*SEARCHER*/

#searcher{
	position: absolute;
    height: 20px;
	padding-top: 10px;
	margin-left: 690px;
}
#searcher input{
    vertical-align:middle;
}
#searcher img{
    vertical-align:middle;
}
.searcher_bgRight{
    display: none;
}
.searcher_bgLeft{
    display: none;
}
.searcher_input{
	background: transparent url(/images/template/searcher_bg.png) repeat right top;
    border: 1px solid #cccccc;
    height: 17px;
	width: 155px;
    font-size: 90%;
    padding-top: 2px;
}
.searcher_image{
    border: none;
    margin-left: 5px;
}

/*Search results: articles*/

.search_results_type_name{
	margin-top: 20px;
    font-weight: bold;
    font-size: 110%;
}
.searcher_oneArticle_descContainer{
    vertical-align: top;
}
.searcher_oneArticle_image{
	vertical-align: top;
	margin-right: 5px;
	border: 1px solid <RENDER_VALUE what="variation>borderColor"/>;
}
.articleResult_title a{
	color: #333333;
	font-weight: bold;
}
.searcher_oneArticle_image img{
    height: 60px;
}
.articleResult_contents{
	margin-top: 10px;
	}

/* Champ de connexion */

#connectionContainer{
	height: 20px;
	width: 900px;
	text-align: right;
	padding-top: 10px;
	position: absolute;
	font-weight: bold;
}
#connectionContainer a{
	font-weight: bold;
}
.grey_link_connect{
	color:  <RENDER_VALUE what="variation>connectLinkColor"/>;
}
.grey_link{
	color: <RENDER_VALUE what="variation>connectLinkColor"/>;
	margin-top:2px;
	margin-bottom:2px;
}
.grey_link_line{
	color: <RENDER_VALUE what="variation>connectLinkColor"/>;
	margin-top:5px;
}

/* flags */
.pictoFlagsContainer{
text-align: left;
width: 150px;
height: 20px;
padding-top: 7px;
position: absolute;
}
.pictoFlags{
width: 20px;
margin-right: 4px;
cursor: pointer;
}


/*contenus de droite de la page*/

.page_content{
	margin-top: 20px;
	margin-left: 10px;
	width: 880px;
}
.content_middle{
	background: transparent url(/images/template/bg_content_white.png) repeat center top;
	margin-top: 35px;
	width: 900px;
}
.content_middle h1{
	text-align: left;
	margin-left: 10px;
	margin-top: 10px;
}

/*ShowList: liste d'aperçus d'articles*/

.oneArticle_contents{
	width: 370px;
	height: 105px;
	margin-top: 25px;
	margin-right: 25px;
	float: left;
}
.oneArticle_image{
	width: 102px;
	height: 102px;
}
.oneArticle_image img{
	width: 100px;
	height: 100px;
	margin-left: 1px;
}
.oneArticle_descContainer{
	height: 90px;
	overflow: auto;
}
.oneArticle_summary{
	color: <RENDER_VALUE what="variation>descriptions"/>;	
}
.oneArticle_title a{
	font-weight: bold;
	font-size: 110%;
	color: <RENDER_VALUE what="variation>globalText"/>;	
}



 /* Page de mentions légales */
 .legacyContainer{
	width: 200px;
 }
 
 /* Page de contact */
 
#contact{
	width: 350px;
	color: <RENDER_VALUE what="variation>globalText"/>;
}
#contact a{
	color: <RENDER_VALUE what="variation>globalText"/>;
}
.contact_intro{
	text-align: left;
	margin-right: inherit;
	margin-left: inherit;
}
#contact h3{
	margin-bottom: 2px;
	padding-top: 10px;
	font-size: 120%;
}
#contactData_container{
	margin-top: 15px;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
}
#sendMailForm_container{
	text-align: center;
	margin-top: 20px;
	color: <RENDER_VALUE what="variation>contactColor"/>;
}
#sendMailForm_container table{
	margin-right: auto;
	margin-left: auto;
}
#sendmailContent {
	margin-left: 2px;
 }
.contactMail_link{
	color: <RENDER_VALUE what="variation>contactColor"/>;
}
 #bg_sendmailTop{
	 background: transparent url(/images/template/bg_sendmail_top.png) no-repeat center top;
	 width: 356px;
	 height: 28px;
 }
 #bg_sendmailMiddle{
	 background: transparent url(/images/template/bg_sendmail_middle.png) repeat-y center top;
	 width: 356px;
 }
.mailContent{
	height: 140px;
	width: 340px;
}
.contact_submitCaptcha{
	margin-top: 15px;
}
.sendmailInput input {
	width: 150px;
	border: 1px solid <RENDER_VALUE what="variation>borderColor"/>
 }


/*ADMIN: edtion d'un nouvel article*/

.content_edit_shorter{
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}


.content_edit_shorter textarea{
	width: 400px;
}


/*général: all templates*/

h1{ /* Grand titre des pages */
    color:   <RENDER_VALUE what="variation>title"/>;
    font-weight: bold;
    font-size: 160%;
    line-height: 24px;
    text-align: left;
	margin-top: inherit;
}

h2{ /* Petit titre des pages */
    color: <RENDER_VALUE what="variation>titlesColor"/>;
    font-weight: bold;
    font-size: 120%;
    line-height: 16px;
    text-align: left;
    text-indent: 15px;
}
h3{
	margin-top: 0px;
	margin-bottom: 0;
}

p{ /* Paragraphes */
    font-weight: normal;
    line-height: 16px;
    text-align: left;
    text-indent: 2px;
}

#copyrights{
    color : #ffffff;
    text-align:right;
    font-size:90%;
	clear: both;
	font-weight: bold;
	width: 900px;
	padding-top: 120px;
	margin-left: auto;
	margin-right: auto;
}


#copyrights a{
    color : #ffffff;
	font-weight: bold;
}


.important{
    color : <RENDER_VALUE what="variation>importantColor"/>;
}

.bold{ /* Elements affichés en gras (mots clés) */
    font-weight: bold;
}

.italic{ /* Elements affichés en italic */
    font-style: italic;
}

.center{ /* Elements centrés */
    text-align:center;
}

.halfSize{
    width:50%;
}

.hideLink{
  text-decoration:inherit;
  color:inherit;
}

.captcha_image{
		width:160px;
		height:35px;
	    }
input, textarea, .captcha_image{
	border: 1px solid <RENDER_VALUE what="variation>borderColor"/>;
}
.captchaText img{
    border: 1px solid <RENDER_VALUE what="variation>borderColor"/>;
}
.captchaText{
	margin-left: 7px;
}
	    .fourFifth{
	    font-size:80%;
	    font-style: italic;
	    }
	    .whiteText{
		color: black;
	    }
	    .captcha{
		text-align:left;
		border: none;
	    }
	    .captcha_input{
	    margin-top: 10px;
	    }
	    .marginTop_5px{
	    margin-top: 5px;
	    }
		.captcha_image{
		width:160px;
		height:35px;
	    }
         .marginTop_15px{
	    margin-top: 15px;
	    }
        .table_description{
        font-style: italic;
        color: white;
        font-size: 80%;
        }
        .marginBottom_15px{
        margin-bottom: 15px;
        }
		
	


a:link, a:visited, a:hover, a:active {
    color: <RENDER_VALUE what="variation>linksColor"/>;
}

.templateColor{
    color: <RENDER_VALUE what="variation>color"/>;
}

.aLink{
    cursor: pointer;
}

.falseLink{
    color: <RENDER_VALUE what="variation>linksColor"/>;
    cursor: pointer;
    text-decoration: underline;
}
img { 
    border: 0;
}
.position_absolute{
	position: absolute;
}
</content>