<?xml version="1.0"?>
<content>
/* Shopsailors' CSS File | Template : <RENDER_VALUE what="template>name"/> | Variation : <RENDER_VALUE what="variation>name"/> */
/* UTF-8 Check : à  ç  é  è  */

/*FORUM*/

.forumContainer blockquote, .mceContentBody>blockquote{
	background-color: #666666;
    font-style: italic;
    border: 1px solid blue;
}

/*Forum: categories breadcrumbs*/

#forum_navigator{
	width: 400px;
	padding-top: 2px;
	color: <RENDER_VALUE what="variation>globalText"/>;
}
.forum_arboLink{
	color: <RENDER_VALUE what="variation>navigatorLinkColor"/>;
}
.forum_arboText{
	color: <RENDER_VALUE what="variation>navigatorLinkColor"/>;
}
.breadcrumbSisters{
	display: block;
}
.bc_sisters, .bc_sameLevelText{
	display:block;
}
.bc_sisters a{
	color: <RENDER_VALUE what="variation>globalText"/>;
}
.bc_sister_container{
	display:none;
}

/*Forum: categories*/

.forum_createNew{
	margin-bottom: 10px;
}
.forum_createNew a{
	font-weight: bold;
	font-style: italic;
	font-size: 110%;
	color: green;
}
.forum_categoriesList{
	margin-top: 20px;
}
.forum_oneCat{
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}
.forum_oneCat_name a{
	width: 250px;
	font-weight: bold;
	color: <RENDER_VALUE what="variation>globalText"/>;
	font-size: 110%;
}
.forum_oneCat_shortDesc{
	width: 250px;
	height: 75px;
	overflow: auto;
}

.forum_editCat{
	margin-top: 5px;
}

.forum_editCat a{
	font-weight: bold;
	color: green;
}

/*Forum: one subject*/

.forum_table{
	width: 796px;
	margin-left: 10px;
}
.forum_bgTop{
	background: transparent url(/images/template/forum_bg_top.png) no-repeat center top;
	height: 25px;
	width: 820px;
}
.forum_bgMiddle{
	background: transparent url(/images/template/forum_bg_middle.png) repeat-y center top;
	width: 820px;
}
.forum_bgBottom{
	background: transparent url(/images/template/forum_bg_bottom.png) no-repeat center top;
	height: 25px;
	width: 820px;
}
.forum_table tr td{
	vertical-align: top;
}
/*
.bg_forum{
	background: transparent url(/images/template/bg_forum.png) repeat center top;
}*/
.forum_infoContent{
	padding: 0px 5px 5px 5px;
	width: 600px;
}
.forum_abuse{
	position: absolute;
	margin-left: 660px;
	margin-top: 5px;
}
.forum_postDate{
	font-weight: bold;
	font-style: italic;
	color: #666666;
	width: 100%;
}
.forum_postTitle{
	font-weight: bold;
	font-style: italic;
	color: <RENDER_VALUE what="variation>globalText"/>;
}
.forum_content{
	vertical-align: top;
	padding: 0px 10px 0px 5px;
}
.forum_blockUser{
	font-weight: bold;
	color: #990000;
	text-decoration: none;
	margin-top: 5px;
}
.forum_blockUser a{
	color: #990000;
	text-decoration: none;
}
.forum_blockPost{
	font-weight: bold;
	color: #990000;
}
.forum_blockPost a{
	color: #990000;
	text-decoration: none;
}
.forum_userInfo{
	color: <RENDER_VALUE what="variation>globalText"/>;
	width: 100px;
	text-align: left;
	padding: 5px;
	text-align: center;
	font-weight: bold;
}
.forum_userInfo img{
	height: 30px;
	width: 30px;
}
.forum_tinyTable{
	width: 795px;
	margin-left: 10px;
}
.forum_tinyContainer{
}
.forum_explanation{
	text-align: center;
	font-weight: bold;
	color: #333333;
}
.forum_explanation a{
	color: #333333;
}

.forum_borderLeft{
	border-left: 1px dashed #cccccc;
}
.forum_borderRight{
	border-right: 1px dashed #cccccc;
}
.forum_borderTop{
	border-top: 1px dashed #cccccc;
}
.forum_borderBottom{
	border-bottom: 1px dashed #cccccc;
}

/*Forum : New topic*/

.forum_createTopic_bgTop{
	background: transparent url(/images/template/forum_bg_top.png) no-repeat center top;
	height: 25px;
	width: 820px;
}
.forum_createTopic_bgMiddle{
	background: transparent url(/images/template/forum_bg_middle.png) repeat-y center top;
	width: 820px;
}
.forum_createTopic_bgBottom{
	background: transparent url(/images/template/forum_bg_bottom.png) no-repeat center top;
	height: 25px;
	width: 820px;
}
.forum_topicTitle{
	font-weight: bold;
	color: <RENDER_VALUE what="variation>globalText"/>;
	margin-left: 122px;
}
.forum_topicTitle input{
	width: 400px;
}
.forum_topicCat{
	font-weight: bold;
	color: <RENDER_VALUE what="variation>globalText"/>;
	margin-left: 122px;
	margin-top: 15px;
}
.forum_topicCatList{
	margin-left: 122px;
	margin-top: 5px;
	width: 685px;
	text-align: left;
}
.forum_topic_firstPost{
	font-weight: bold;
	color: <RENDER_VALUE what="variation>globalText"/>;
	margin-left: 122px;
	margin-top: 15px;
}
.forum_createTopic_validation{
	text-align: center;
}
/*Forum : New category*/
.forum_addSubject{
	margin-top: 20px;
	font-weight: bold;
	color: <RENDER_VALUE what="variation>globalText"/>;
}
.forum_oneSubject{
	margin-top: 10px;
}
.forum_oneSubject_name{
	font-weight: bold;
	color: <RENDER_VALUE what="variation>globalText"/>;
}
.forum_categoryRights{
	background-color: #cccccc;
	width: 100px;
}
.forum_categoryRights img{
	text-align: center;
	margin-left: 25px;
}
/*Forum: connection required*/

.forum_notConnected{
	font-weight: bold;
	color: #660000;
	margin-bottom: 10px;
}

.forum_notConnected a{
	color: #666666;
}

</content>